template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Serverless deployment for ResumeForge on AWS Lambda and API Gateway.

Parameters:
  PrimaryRegion:
    Type: String
    Default: us-east-1
    Description: Primary AWS region for the deployment.
  StageName:
    Type: String
    Default: prod
    MaxLength: 30
    AllowedPattern: '^[A-Za-z0-9_-]+$'
    ConstraintDescription: StageName may contain only letters, numbers, hyphens, and underscores and must be 30 characters or fewer.
    Description: Stage name for the API Gateway deployment.
  SecondaryRegion:
    Type: String
    Default: us-west-2
    Description: Secondary AWS region used for disaster recovery or failover.
  OriginRequestPolicyId:
    Type: String
    Default: b689b0a8-53d0-40ab-baf2-68738e2966ac
    Description: >-
      Identifier for the CloudFront origin request policy to use. Defaults to the
      AWS managed policy "Managed-AllViewerExceptHostHeader" which forwards all
      viewer headers except the Host header generated by CloudFront.
  WebAclArn:
    Type: String
    Default: ''
    Description: Optional ARN of an AWS WAFv2 web ACL to associate with the CloudFront distribution.
  DataBucketName:
    Type: String
    Default: resume-forge-data
    Description: Globally unique name for the S3 bucket that stores uploads and generated artifacts.
  CreateDataBucket:
    Type: String
    AllowedValues:
      - 'true'
      - 'false'
    Default: 'true'
    Description: >-
      Set to 'false' to use an existing S3 bucket specified in DataBucketName
      instead of creating a new one.
  ResumeTableName:
    Type: String
    Default: ResumeForge
    Description: Name of the DynamoDB table that tracks processed resumes.
  GeminiApiKey:
    Type: String
    NoEcho: true
    Default: ''
    Description: >-
      Gemini API key used by the Lambda function to generate enhanced resume
      content. Provide the value securely when deploying the stack or supply a
      Secrets Manager secret name instead.
  SecretName:
    Type: String
    Default: ''
    Description: >-
      Optional AWS Secrets Manager secret (JSON) that contains a
      GEMINI_API_KEY value. When provided, the Lambda environment resolves the
      API key from the secret at runtime. Leave blank to pass GeminiApiKey
      directly.
  ProvisionedConcurrency:
    Type: Number
    Default: 0
    MinValue: 0
    Description: >-
      Number of provisioned concurrent executions reserved for the Lambda alias.
      Set to 0 to disable provisioned concurrency.
  LambdaInsightsLayerVersion:
    Type: Number
    Default: 38
    Description: >-
      Version number for the Lambda Insights extension layer published by AWS
      (account 580247275435). Update this parameter when AWS releases a new
      Insights layer.
  CreateResumeTable:
    Type: String
    AllowedValues:
      - 'true'
      - 'false'
    Default: 'true'
    Description: >-
      Set to 'false' to use an existing DynamoDB table specified in ResumeTableName
      instead of creating a new one.

Conditions:
  CreateResumeTableCondition: !Equals [!Ref CreateResumeTable, 'true']
  CreateDataBucketCondition: !Equals [!Ref CreateDataBucket, 'true']
  EnableProvisionedConcurrency: !Not [!Equals [!Ref ProvisionedConcurrency, 0]]
  AttachWebAcl: !Not [!Equals [!Ref WebAclArn, '']]
  UseSecretName: !Not [!Equals [!Ref SecretName, '']]
  SecretIsArn: !And
    - !Condition UseSecretName
    - !Equals [!Select [0, !Split [":", !Ref SecretName]], 'arn']

Rules:
  RequireGeminiConfiguration:
    Assertions:
      - Assert: !Or
          - !Not [!Equals [!Ref SecretName, '']]
          - !Not [!Equals [!Ref GeminiApiKey, '']]
        AssertDescription: >-
          Provide either SecretName (pointing to a Secrets Manager secret with
          GEMINI_API_KEY) or GeminiApiKey so the Lambda function can access the
          Gemini API.

Resources:
  ResumeForgeApi:
    Type: AWS::Serverless::Api
    Properties:
      StageName: !Ref StageName
      EndpointConfiguration: REGIONAL
      BinaryMediaTypes:
        - multipart/form-data
        - application/pdf
        - application/octet-stream
      Cors:
        AllowMethods: "'OPTIONS,POST,GET'"
        AllowHeaders: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
        AllowOrigin: "'*'"

  ResumeForgeOrchestrationBus:
    Type: AWS::Events::EventBus
    Properties:
      Name: !Sub '${AWS::StackName}-${StageName}-resume-forge-orchestration'
      Tags:
        - Key: Environment
          Value: !Ref StageName

  DataBucket:
    Type: AWS::S3::Bucket
    Condition: CreateDataBucketCondition
    Properties:
      BucketName: !Ref DataBucketName
      Tags:
        - Key: Environment
          Value: !Ref StageName
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  DataBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !If [CreateDataBucketCondition, !Ref DataBucket, !Ref DataBucketName]
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowLambdaBucketActions
            Effect: Allow
            Principal:
              AWS:
                - !GetAtt ResumeForgeFunctionRole.Arn
                - !GetAtt ClientAppFunctionRole.Arn
                - !GetAtt JobEvaluationFunctionRole.Arn
                - !GetAtt ScoringFunctionRole.Arn
                - !GetAtt EnhancementFunctionRole.Arn
                - !GetAtt DocumentGenerationFunctionRole.Arn
                - !GetAtt AuditingFunctionRole.Arn
                - !GetAtt WorkflowGenerateFunctionRole.Arn
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:DeleteObject
            Resource:
              - !If
                - CreateDataBucketCondition
                - !Sub arn:aws:s3:::${DataBucket}/*
                - !Sub arn:aws:s3:::${DataBucketName}/*
          - Sid: AllowLambdaListBucket
            Effect: Allow
            Principal:
              AWS:
                - !GetAtt ResumeForgeFunctionRole.Arn
                - !GetAtt ClientAppFunctionRole.Arn
                - !GetAtt JobEvaluationFunctionRole.Arn
                - !GetAtt ScoringFunctionRole.Arn
                - !GetAtt EnhancementFunctionRole.Arn
                - !GetAtt DocumentGenerationFunctionRole.Arn
                - !GetAtt AuditingFunctionRole.Arn
                - !GetAtt WorkflowGenerateFunctionRole.Arn
            Action:
              - s3:ListBucket
            Resource: !If
              - CreateDataBucketCondition
              - !Sub arn:aws:s3:::${DataBucket}
              - !Sub arn:aws:s3:::${DataBucketName}

  ResumeForgeTable:
    Type: AWS::DynamoDB::Table
    Condition: CreateResumeTableCondition
    Properties:
      TableName: !Ref ResumeTableName
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: linkedinProfileUrl
          AttributeType: S
      KeySchema:
        - AttributeName: linkedinProfileUrl
          KeyType: HASH
      Tags:
        - Key: Environment
          Value: !Ref StageName

  ResumeForgeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-resume-upload'
      CodeUri: .
      Handler: lambdas/resumeUpload.handler
      Runtime: nodejs18.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ProcessResume:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/process-cv
            Method: ANY
      Environment:
        Variables:
          <<: &ResumeForgeFunctionEnvironmentVariables
            S3_BUCKET: !Ref DataBucketName
            RESUME_TABLE_NAME: !Ref ResumeTableName
            GEMINI_API_KEY: !If
              - UseSecretName
              - !Sub '{{resolve:secretsmanager:${SecretName}:SecretString:GEMINI_API_KEY}}'
              - !Ref GeminiApiKey
            PRIMARY_REGION: !Ref PrimaryRegion
            SECONDARY_REGION: !Ref SecondaryRegion
            STAGE_NAME: !Ref StageName
            DEPLOYMENT_ENVIRONMENT: !Ref StageName
            ORCHESTRATION_BUS_NAME: !Ref ResumeForgeOrchestrationBus
          ACTIVE_SERVICE: resumeUpload
      Policies: &ResumeForgeFunctionPolicies
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Sid: AllowBucketAccess
              Effect: Allow
              Action:
                - s3:GetObject
                - s3:PutObject
                - s3:DeleteObject
                - s3:ListBucket
              Resource:
                - !Sub arn:aws:s3:::${DataBucketName}
                - !Sub arn:aws:s3:::${DataBucketName}/*
            - Sid: AllowWafIntegration
              Effect: Allow
              Action:
                - wafv2:AssociateWebACL
                - wafv2:DisassociateWebACL
                - wafv2:GetWebACL
              Resource: '*'
        - DynamoDBCrudPolicy:
            TableName: !Ref ResumeTableName
        - !If
          - UseSecretName
          - Statement:
              - Sid: AllowSecretAccess
                Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !If
                  - SecretIsArn
                  - !Ref SecretName
                  - !Sub arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${SecretName}*
          - !Ref AWS::NoValue
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  ClientAppFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-client-app'
      CodeUri: .
      Handler: lambdas/clientApp.handler
      Runtime: nodejs18.x
      MemorySize: 512
      Timeout: 30
      AutoPublishAlias: !Ref StageName
      Events:
        Root:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /
            Method: ANY
        IndexHtml:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /index.html
            Method: ANY
        Favicon:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /favicon.ico
            Method: ANY
        Manifest:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /manifest.webmanifest
            Method: ANY
        Robots:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /robots.txt
            Method: ANY
        ServiceWorker:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /service-worker.js
            Method: ANY
        Assets:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /assets/{proxy+}
            Method: ANY
        Fonts:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /fonts/{proxy+}
            Method: ANY
        Images:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /images/{proxy+}
            Method: ANY
        CoverTemplates:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /cover-templates/{proxy+}
            Method: ANY
      Environment:
        Variables:
          <<: *ResumeForgeFunctionEnvironmentVariables
          ACTIVE_SERVICE: clientApp
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  JobEvaluationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-job-evaluation'
      CodeUri: .
      Handler: lambdas/jobEvaluation.handler
      Runtime: nodejs18.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        EvaluateJobDescription:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/jd/evaluate
            Method: ANY
      Environment:
        Variables:
          <<: *ResumeForgeFunctionEnvironmentVariables
          ACTIVE_SERVICE: jobEvaluation
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  ScoringFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-scoring'
      CodeUri: .
      Handler: lambdas/scoring.handler
      Runtime: nodejs18.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ScoreMatch:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/score-match
            Method: ANY
        RescoreImprovement:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/rescore-improvement
            Method: ANY
      Environment:
        Variables:
          <<: *ResumeForgeFunctionEnvironmentVariables
          ACTIVE_SERVICE: scoring
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement'
      CodeUri: .
      Handler: lambdas/enhancement.handler
      Runtime: nodejs18.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ImproveSummary:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-summary
            Method: ANY
        AddMissingSkills:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/add-missing-skills
            Method: ANY
        ChangeDesignation:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/change-designation
            Method: ANY
        AlignExperience:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/align-experience
            Method: ANY
        ImproveCertifications:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-certifications
            Method: ANY
        ImproveProjects:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-projects
            Method: ANY
        ImproveHighlights:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-highlights
            Method: ANY
        EnhanceAll:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/enhance-all
            Method: ANY
      Environment:
        Variables:
          <<: *ResumeForgeFunctionEnvironmentVariables
          ACTIVE_SERVICE: enhancement
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  DocumentGenerationQueue:
    Type: AWS::SQS::Queue
    Properties:
      # Explicitly assign a FIFO-safe queue name. Without a QueueName, SQS
      # defaults to the logical resource id ("DocumentGenerationQueue"), which
      # is invalid for FIFO queues because it does not end with the required
      # ".fifo" suffix. Use the stack ID's GUID but truncate it to the first
      # two segments so the name always stays below the 80 character limit and
      # avoids the SQS "QueueDeletedRecently" throttle that happens when the
      # same queue name is recreated immediately after a rollback.
      QueueName: !Sub
        - '${StageName}-dg-${UniqueSuffix}.fifo'
        - UniqueSuffix: !Join
            - ''
            - - !Select
                  - 0
                  - !Split
                    - '-'
                    - !Select
                      - 2
                      - !Split
                        - '/'
                        - !Ref AWS::StackId
              - !Select
                  - 1
                  - !Split
                    - '-'
                    - !Select
                      - 2
                      - !Split
                        - '/'
                        - !Ref AWS::StackId
      FifoQueue: true
      ContentBasedDeduplication: true
      SqsManagedSseEnabled: true
      VisibilityTimeout: 900
      Tags:
        - Key: Environment
          Value: !Ref StageName

  DocumentGenerationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-document-generation'
      CodeUri: .
      Handler: lambdas/documentGeneration.handler
      Runtime: nodejs18.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        GenerateEnhancedDocs:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/generate-enhanced-docs
            Method: ANY
        RenderCoverLetter:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/render-cover-letter
            Method: ANY
      Environment:
        Variables:
          <<: *ResumeForgeFunctionEnvironmentVariables
          ACTIVE_SERVICE: documentGeneration
          DOCUMENT_GENERATION_QUEUE_URL: !GetAtt DocumentGenerationQueue.QueueUrl
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  DocumentGenerationWorkerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-document-generation-worker'
      CodeUri: .
      Handler: lambdas/documentGenerationWorker.handler
      Runtime: nodejs18.x
      MemorySize: 2048
      Timeout: 300
      Events:
        DocumentGenerationQueueEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt DocumentGenerationQueue.Arn
            BatchSize: 1
      Environment:
        Variables:
          <<: *ResumeForgeFunctionEnvironmentVariables
          ACTIVE_SERVICE: documentGeneration
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  WorkflowScoreFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-workflow-score'
      CodeUri: .
      Handler: lambdas/workflowScore.handler
      Runtime: nodejs18.x
      MemorySize: 512
      Timeout: 60
      Policies:
        - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  WorkflowEnhancementSectionFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-workflow-enhancement-section'
      CodeUri: .
      Handler: lambdas/workflowEnhancementSection.handler
      Runtime: nodejs18.x
      MemorySize: 512
      Timeout: 60
      Policies:
        - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  WorkflowCombineFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-workflow-combine'
      CodeUri: .
      Handler: lambdas/workflowCombine.handler
      Runtime: nodejs18.x
      MemorySize: 512
      Timeout: 60
      Policies:
        - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  WorkflowGenerateFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-workflow-generate'
      CodeUri: .
      Handler: lambdas/workflowGeneratePdf.handler
      Runtime: nodejs18.x
      MemorySize: 1024
      Timeout: 120
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            Effect: Allow
            Action:
              - s3:PutObject
            Resource: !Sub arn:aws:s3:::${DataBucketName}/*
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          S3_BUCKET: !Ref DataBucketName
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  DocumentGenerationSendPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: ResumeForgeDocumentGenerationSend
      Roles:
        - !Ref DocumentGenerationFunctionRole
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - sqs:SendMessage
            Resource: !GetAtt DocumentGenerationQueue.Arn

  ResumeForgeWorkflowStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub '${AWS::StackName}-resume-flow'
      Definition:
        Comment: ResumeForge orchestration pipeline
        StartAt: ScoreResume
        States:
          ScoreResume:
            Type: Task
            Resource: !GetAtt WorkflowScoreFunction.Arn
            ResultPath: $.scoring
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.resumeText
              jobSkills.$: $.jobSkills
              jobDescription.$: $.jobDescription
            Next: FanOutEnhancements
          FanOutEnhancements:
            Type: Map
            ItemsPath: $.enhancementTypes
            MaxConcurrency: 7
            ResultPath: $.enhancementResults
            Parameters:
              type.$: $$.Map.Item.Value
              resumeText.$: $.resumeText
              jobDescription.$: $.jobDescription
              jobSkills.$: $.jobSkills
              missingSkills.$: $.scoring.missingSkills
              manualCertificates.$: $.manualCertificates
              targetTitle.$: $.targetTitle
            Iterator:
              StartAt: InvokeEnhancementSection
              States:
                InvokeEnhancementSection:
                  Type: Task
                  Resource: !GetAtt WorkflowEnhancementSectionFunction.Arn
                  End: true
            Next: CombineEnhancements
          CombineEnhancements:
            Type: Task
            Resource: !GetAtt WorkflowCombineFunction.Arn
            ResultPath: $.combined
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.resumeText
              sectionResults.$: $.enhancementResults
            Next: GenerateArtifacts
          GenerateArtifacts:
            Type: Task
            Resource: !GetAtt WorkflowGenerateFunction.Arn
            ResultPath: $.artifacts
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.combined.updatedResume
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref WorkflowScoreFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref WorkflowEnhancementSectionFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref WorkflowCombineFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref WorkflowGenerateFunction
        - S3WritePolicy:
            BucketName: !Ref DataBucketName
      Events:
        ResumeWorkflowEvent:
          Type: EventBridgeRule
          Properties:
            EventBusName: !Ref ResumeForgeOrchestrationBus
            InputPath: $.detail
            Pattern:
              source:
                - resumeForge.workflow
              detail-type:
                - ResumeFlowRequested

  AuditingFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-auditing'
      CodeUri: .
      Handler: lambdas/auditing.handler
      Runtime: nodejs18.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ChangeLog:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/change-log
            Method: ANY
        RefreshDownloadLink:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/refresh-download-link
            Method: ANY
        PublishedCloudfront:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/published-cloudfront
            Method: ANY
        Healthz:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /healthz
            Method: ANY
      Environment:
        Variables:
          <<: *ResumeForgeFunctionEnvironmentVariables
          ACTIVE_SERVICE: auditing
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  ObservabilityDashboard:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardName: !Sub '${AWS::StackName}-${StageName}-observability'
      DashboardBody: !Sub |
        {
          "widgets": [
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Lambda Invocations by Alias",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Sum",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-resume-upload:${StageName}",
                    {
                      "label": "resume-upload"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-client-app:${StageName}",
                    {
                      "label": "client-app"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-job-evaluation:${StageName}",
                    {
                      "label": "job-evaluation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-scoring:${StageName}",
                    {
                      "label": "scoring"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement:${StageName}",
                    {
                      "label": "enhancement"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation:${StageName}",
                    {
                      "label": "document-generation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation-worker:${StageName}",
                    {
                      "label": "document-generation-worker"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-score:${StageName}",
                    {
                      "label": "workflow-score"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}",
                    {
                      "label": "workflow-enhancement-section"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-combine:${StageName}",
                    {
                      "label": "workflow-combine"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-generate:${StageName}",
                    {
                      "label": "workflow-generate"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-auditing:${StageName}",
                    {
                      "label": "auditing"
                    }
                  ]
                ]
              }
            },
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Lambda Errors by Alias",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Sum",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-resume-upload:${StageName}",
                    {
                      "label": "resume-upload"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-client-app:${StageName}",
                    {
                      "label": "client-app"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-job-evaluation:${StageName}",
                    {
                      "label": "job-evaluation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-scoring:${StageName}",
                    {
                      "label": "scoring"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement:${StageName}",
                    {
                      "label": "enhancement"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation:${StageName}",
                    {
                      "label": "document-generation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation-worker:${StageName}",
                    {
                      "label": "document-generation-worker"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-score:${StageName}",
                    {
                      "label": "workflow-score"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}",
                    {
                      "label": "workflow-enhancement-section"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-combine:${StageName}",
                    {
                      "label": "workflow-combine"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-generate:${StageName}",
                    {
                      "label": "workflow-generate"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-auditing:${StageName}",
                    {
                      "label": "auditing"
                    }
                  ]
                ]
              }
            },
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Lambda p95 Duration (ms)",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Average",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-resume-upload:${StageName}",
                    {
                      "label": "resume-upload",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-client-app:${StageName}",
                    {
                      "label": "client-app",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-job-evaluation:${StageName}",
                    {
                      "label": "job-evaluation",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-scoring:${StageName}",
                    {
                      "label": "scoring",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement:${StageName}",
                    {
                      "label": "enhancement",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation:${StageName}",
                    {
                      "label": "document-generation",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation-worker:${StageName}",
                    {
                      "label": "document-generation-worker",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-score:${StageName}",
                    {
                      "label": "workflow-score",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}",
                    {
                      "label": "workflow-enhancement-section",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-combine:${StageName}",
                    {
                      "label": "workflow-combine",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-generate:${StageName}",
                    {
                      "label": "workflow-generate",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-auditing:${StageName}",
                    {
                      "label": "auditing",
                      "stat": "p95"
                    }
                  ]
                ]
              }
            },
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Cold Starts by Function",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Sum",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-resume-upload",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "resume-upload"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-client-app",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "client-app"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-job-evaluation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "job-evaluation"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-scoring",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "scoring"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-document-generation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "document-generation"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-document-generation-worker",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "document-generation-worker"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-workflow-score",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "workflow-score"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-workflow-enhancement-section",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "workflow-enhancement-section"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-workflow-combine",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "workflow-combine"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-workflow-generate",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "workflow-generate"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-auditing",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "auditing"
                    }
                  ]
                ]
              }
            },
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Artifact & API Outcomes",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Sum",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "ResumeForge/Artifacts",
                    "artifactgenerationFailure",
                    "Operation",
                    "artifact-generation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Generation Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "artifactgenerationSuccess",
                    "Operation",
                    "artifact-generation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Generation Success"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "artifactdownloadFailure",
                    "Operation",
                    "artifact-download",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Download Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "artifactdownloadSuccess",
                    "Operation",
                    "artifact-download",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Download Success"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "enhancementFailure",
                    "Operation",
                    "enhancement",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Enhancement Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "enhancementSuccess",
                    "Operation",
                    "enhancement",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Enhancement Success"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "scoringFailure",
                    "Operation",
                    "scoring",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Scoring Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "scoringSuccess",
                    "Operation",
                    "scoring",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Scoring Success"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "apiFailure",
                    "Operation",
                    "api",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "API Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "apiSuccess",
                    "Operation",
                    "api",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "API Success"
                    }
                  ]
                ]
              }
            }
          ]
        }

  ResumeForgeCachePolicy:
    Type: AWS::CloudFront::CachePolicy
    Properties:
      CachePolicyConfig:
        Comment: Disable caching; viewer context is forwarded via a dedicated origin request policy.
        DefaultTTL: 0
        MaxTTL: 0
        MinTTL: 0
        Name: !Sub ResumeForgeCachePolicy-${AWS::StackName}-${StageName}
        ParametersInCacheKeyAndForwardedToOrigin:
          CookiesConfig:
            CookieBehavior: none
          EnableAcceptEncodingBrotli: false
          EnableAcceptEncodingGzip: false
          HeadersConfig:
            HeaderBehavior: none
          QueryStringsConfig:
            QueryStringBehavior: none

  ResumeForgeDistribution:
    Type: AWS::CloudFront::Distribution
    DependsOn:
      - ResumeForgeApi
    Properties:
      DistributionConfig:
        Enabled: true
        Comment: API Gateway distribution for ResumeForge
        WebACLId: !If [AttachWebAcl, !Ref WebAclArn, !Ref AWS::NoValue]
        Origins:
          - Id: ResumeForgeApiOrigin
            DomainName: !Sub "${ResumeForgeApi}.execute-api.${AWS::Region}.amazonaws.com"
            OriginPath: !Sub "/${StageName}"
            CustomOriginConfig:
              OriginProtocolPolicy: https-only
        DefaultCacheBehavior:
          TargetOriginId: ResumeForgeApiOrigin
          ViewerProtocolPolicy: https-only
          AllowedMethods:
            - GET
            - HEAD
            - OPTIONS
            - PUT
            - PATCH
            - POST
            - DELETE
          CachedMethods:
            - GET
            - HEAD
            - OPTIONS
          Compress: true
          CachePolicyId: !GetAtt ResumeForgeCachePolicy.Id
          OriginRequestPolicyId: !Ref OriginRequestPolicyId
      Tags:
        - Key: Environment
          Value: !Ref StageName

Outputs:
  ApiBaseUrl:
    Description: Invoke URL for the API Gateway stage.
    Value: !Sub https://${ResumeForgeApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}
  AppBaseUrl:
    Description: Primary CloudFront URL for the ResumeForge front page and API access.
    Value: !Sub https://${ResumeForgeDistribution.DomainName}
  DataBucket:
    Description: Bucket used for uploads and generated files.
    Value: !If [CreateDataBucketCondition, !Ref DataBucket, !Ref DataBucketName]
  ResumeTable:
    Description: DynamoDB table that stores resume processing metadata.
    Value: !If [CreateResumeTableCondition, !Ref ResumeForgeTable, !Ref ResumeTableName]
  CloudFrontUrl:
    Description: CloudFront distribution domain for accessing the API.
    Value: !Sub https://${ResumeForgeDistribution.DomainName}
  PrimaryRegion:
    Description: Primary AWS region configured for the deployment.
    Value: !Ref PrimaryRegion
  SecondaryRegion:
    Description: Secondary AWS region configured for the deployment.
    Value: !Ref SecondaryRegion
