template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Serverless deployment for ResumeForge on AWS Lambda and API Gateway.

Parameters:
  PrimaryRegion:
    Type: String
    Default: us-east-1
    Description: Primary AWS region for the deployment.
  StageName:
    Type: String
    Default: prod
    MaxLength: 30
    AllowedPattern: '^[A-Za-z0-9_-]+$'
    ConstraintDescription: StageName may contain only letters, numbers, hyphens, and underscores and must be 30 characters or fewer.
    Description: Stage name for the API Gateway deployment.
  ApiThrottlingRateLimit:
    Type: Number
    Default: 100
    MinValue: 1
    Description: Steady-state requests per second allowed for the API stage.
  ApiThrottlingBurstLimit:
    Type: Number
    Default: 50
    MinValue: 1
    Description: Burst requests per second allowed for the API stage.
  IpRateLimit:
    Type: Number
    Default: 2000
    MinValue: 100
    Description: Five-minute request limit per IP enforced by the default WAF when no WebAclArn is provided.
  SecondaryRegion:
    Type: String
    Default: us-west-2
    Description: Secondary AWS region used for disaster recovery or failover.
  OriginRequestPolicyId:
    Type: String
    Default: b689b0a8-53d0-40ab-baf2-68738e2966ac
    Description: >-
      Identifier for the CloudFront origin request policy to use. Defaults to the
      AWS managed policy "Managed-AllViewerExceptHostHeader" which forwards all
      viewer headers except the Host header generated by CloudFront.
  WebAclArn:
    Type: String
    Default: ''
    Description: Optional ARN of an AWS WAFv2 web ACL to associate with the CloudFront distribution.
  DataBucketName:
    Type: String
    Default: resume-forge-data
    Description: Globally unique name for the S3 bucket that stores uploads and generated artifacts.
  CreateDataBucket:
    Type: String
    AllowedValues:
      - 'true'
      - 'false'
    Default: 'true'
    Description: >-
      Set to 'false' to use an existing S3 bucket specified in DataBucketName
      instead of creating a new one.
  StaticAssetsBucketName:
    Type: String
    Default: ''
    Description: >-
      Optional name of the S3 bucket that hosts the built ResumeForge client
      application. Provide a value when reusing an existing bucket.
  CreateStaticAssetsBucket:
    Type: String
    AllowedValues:
      - 'true'
      - 'false'
    Default: 'true'
    Description: >-
      Set to 'true' to provision and manage the static asset bucket within this
      stack. When set to 'false', the deployment expects StaticAssetsBucketName
      (or deployment automation) to supply the existing bucket name.
  ResumeTableName:
    Type: String
    Default: ResumeForge
    Description: Name of the DynamoDB table that tracks processed resumes.
  GeminiApiKey:
    Type: String
    NoEcho: true
    Default: ''
    Description: >-
      Gemini API key used by the Lambda function to generate enhanced resume
      content. Provide the value securely when deploying the stack (for example
      via encrypted GitHub repository secrets).
  ProvisionedConcurrency:
    Type: Number
    Default: 0
    MinValue: 0
    Description: >-
      Number of provisioned concurrent executions reserved for the Lambda alias.
      Set to 0 to disable provisioned concurrency.
  LambdaInsightsLayerVersion:
    Type: Number
    Default: 38
    Description: >-
      Version number for the Lambda Insights extension layer published by AWS
      (account 580247275435). Update this parameter when AWS releases a new
      Insights layer.
  CreateResumeTable:
    Type: String
    AllowedValues:
      - 'true'
      - 'false'
    Default: 'true'
    Description: >-
      Set to 'false' to use an existing DynamoDB table specified in ResumeTableName
      instead of creating a new one.
  EnableCloudFrontMonitoring:
    Type: String
    AllowedValues:
      - 'true'
      - 'false'
    Default: 'true'
    Description: >-
      Enable CloudFront access log delivery, metric publishing, and recurring 404
      alarms. Set to 'false' to skip provisioning monitoring resources.
  CloudFront404Threshold:
    Type: Number
    Default: 25
    MinValue: 1
    Description: >-
      Number of 404 responses within a five-minute window that should trigger the
      recurring CloudFront 404 alarm.
  CloudFrontAlarmTopicArn:
    Type: String
    Default: ''
    Description: >-
      Optional SNS topic ARN that should receive recurring CloudFront 404 alarm
      notifications. Leave blank to provision a dedicated topic for the stack.

Conditions:
  CreateResumeTableCondition: !Equals [!Ref CreateResumeTable, 'true']
  CreateDataBucketCondition: !Equals [!Ref CreateDataBucket, 'true']
  CreateStaticAssetsBucketCondition: !Equals [!Ref CreateStaticAssetsBucket, 'true']
  HasStaticAssetsBucketName: !Not [!Equals [!Ref StaticAssetsBucketName, '']]
  EnableProvisionedConcurrency: !Not [!Equals [!Ref ProvisionedConcurrency, 0]]
  UseProvidedWebAcl: !Not [!Equals [!Ref WebAclArn, '']]
  CreateDefaultWebAcl: !Not [!Condition UseProvidedWebAcl]
  IsProductionStage: !Equals [!Ref StageName, 'prod']
  EnableCloudFrontMonitoringCondition: !Equals [!Ref EnableCloudFrontMonitoring, 'true']
  UseExistingCloudFrontAlarmTopic: !And
    - !Condition EnableCloudFrontMonitoringCondition
    - !Not [!Equals [!Ref CloudFrontAlarmTopicArn, '']]
  CreateCloudFrontAlarmTopicCondition: !And
    - !Condition EnableCloudFrontMonitoringCondition
    - !Equals [!Ref CloudFrontAlarmTopicArn, '']

Rules:
  RequireGeminiConfiguration:
    Assertions:
      - Assert: !Not [!Equals [!Ref GeminiApiKey, '']]
        AssertDescription: Provide GeminiApiKey so the Lambda function can access the Gemini API.
  RequireExternalBucketName:
    RuleCondition: !Equals [!Ref CreateDataBucket, 'false']
    Assertions:
      - Assert: !Not [!Equals [!Ref DataBucketName, '']]
        AssertDescription: Provide DataBucketName when CreateDataBucket is false.
  RequireExternalTableName:
    RuleCondition: !Equals [!Ref CreateResumeTable, 'false']
    Assertions:
      - Assert: !Not [!Equals [!Ref ResumeTableName, '']]
        AssertDescription: Provide ResumeTableName when CreateResumeTable is false.
  RequireStaticBucketName:
    RuleCondition: !Equals [!Ref CreateStaticAssetsBucket, 'false']
    Assertions:
      - Assert: !Not [!Equals [!Ref StaticAssetsBucketName, '']]
        AssertDescription: Provide StaticAssetsBucketName when CreateStaticAssetsBucket is false.

Globals:
  Function:
    Environment:
      Variables:
        S3_BUCKET: !Ref DataBucketName
        RESUME_TABLE_NAME: !Ref ResumeTableName
        GEMINI_API_KEY: !Ref GeminiApiKey
        PRIMARY_REGION: !Ref PrimaryRegion
        SECONDARY_REGION: !Ref SecondaryRegion
        STAGE_NAME: !Ref StageName
        DEPLOYMENT_ENVIRONMENT: !Ref StageName
        ORCHESTRATION_BUS_NAME: !Ref ResumeForgeOrchestrationBus
        LOG_LEVEL: !If [IsProductionStage, 'info', 'debug']
        ENABLE_DEBUG_LOGGING: 'false'
        STATIC_ASSETS_BUCKET: !If [CreateStaticAssetsBucketCondition, !Ref StaticAssetsBucket, !Ref StaticAssetsBucketName]
        CLOUDFRONT_ORIGINS: '*'

Resources:
  ResumeForgeApi:
    Type: AWS::Serverless::Api
    Properties:
      StageName: !Ref StageName
      EndpointConfiguration: REGIONAL
      MethodSettings:
        - HttpMethod: '*'
          ResourcePath: '/*'
          ThrottlingBurstLimit: !Ref ApiThrottlingBurstLimit
          ThrottlingRateLimit: !Ref ApiThrottlingRateLimit
      BinaryMediaTypes:
        - multipart/form-data
        - application/pdf
        - application/octet-stream
        - font/*
        - font/woff2
        - application/font-woff2
        - image/*
      Cors:
        AllowMethods: "'OPTIONS,POST,GET'"
        AllowHeaders: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
        AllowOrigin: "'*'"

  ResumeForgeOrchestrationBus:
    Type: AWS::Events::EventBus
    Properties:
      Name: !Sub '${AWS::StackName}-${StageName}-resume-forge-orchestration'
      Tags:
        - Key: Environment
          Value: !Ref StageName

  DataBucket:
    Type: AWS::S3::Bucket
    Condition: CreateDataBucketCondition
    Properties:
      BucketName: !Ref DataBucketName
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        IgnorePublicAcls: true
        BlockPublicPolicy: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Environment
          Value: !Ref StageName
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  DataBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !If [CreateDataBucketCondition, !Ref DataBucket, !Ref DataBucketName]
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowLambdaBucketActions
            Effect: Allow
            Principal:
              AWS:
                - !GetAtt ResumeForgeFunctionRole.Arn
                - !GetAtt ClientAppFunctionRole.Arn
                - !GetAtt JobEvaluationFunctionRole.Arn
                - !GetAtt ScoringFunctionRole.Arn
                - !GetAtt EnhancementImproveSummaryFunctionRole.Arn
                - !GetAtt EnhancementImproveSkillsFunctionRole.Arn
                - !GetAtt EnhancementImproveDesignationFunctionRole.Arn
                - !GetAtt EnhancementImproveExperienceFunctionRole.Arn
                - !GetAtt EnhancementImproveCertificationsFunctionRole.Arn
                - !GetAtt EnhancementImproveProjectsFunctionRole.Arn
                - !GetAtt EnhancementImproveHighlightsFunctionRole.Arn
                - !GetAtt EnhancementImproveAtsFunctionRole.Arn
                - !GetAtt DocumentGenerationFunctionRole.Arn
                - !GetAtt AuditingFunctionRole.Arn
                - !GetAtt WorkflowGenerateFunctionRole.Arn
            Action:
              - s3:GetObject
              - s3:PutObject
              - s3:DeleteObject
            Resource:
              - !If
                - CreateDataBucketCondition
                - !Sub arn:aws:s3:::${DataBucket}/*
                - !Sub arn:aws:s3:::${DataBucketName}/*
          - Sid: AllowLambdaListBucket
            Effect: Allow
            Principal:
              AWS:
                - !GetAtt ResumeForgeFunctionRole.Arn
                - !GetAtt ClientAppFunctionRole.Arn
                - !GetAtt JobEvaluationFunctionRole.Arn
                - !GetAtt ScoringFunctionRole.Arn
                - !GetAtt EnhancementImproveSummaryFunctionRole.Arn
                - !GetAtt EnhancementImproveSkillsFunctionRole.Arn
                - !GetAtt EnhancementImproveDesignationFunctionRole.Arn
                - !GetAtt EnhancementImproveExperienceFunctionRole.Arn
                - !GetAtt EnhancementImproveCertificationsFunctionRole.Arn
                - !GetAtt EnhancementImproveProjectsFunctionRole.Arn
                - !GetAtt EnhancementImproveHighlightsFunctionRole.Arn
                - !GetAtt EnhancementImproveAtsFunctionRole.Arn
                - !GetAtt DocumentGenerationFunctionRole.Arn
                - !GetAtt AuditingFunctionRole.Arn
                - !GetAtt WorkflowGenerateFunctionRole.Arn
            Action:
              - s3:ListBucket
            Resource: !If
              - CreateDataBucketCondition
              - !Sub arn:aws:s3:::${DataBucket}
              - !Sub arn:aws:s3:::${DataBucketName}

  StaticAssetsBucket:
    Type: AWS::S3::Bucket
    Condition: CreateStaticAssetsBucketCondition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName: !If [HasStaticAssetsBucketName, !Ref StaticAssetsBucketName, !Ref AWS::NoValue]
      OwnershipControls:
        Rules:
          - ObjectOwnership: ObjectWriter
      PublicAccessBlockConfiguration:
        BlockPublicAcls: false
        BlockPublicPolicy: false
        IgnorePublicAcls: false
        RestrictPublicBuckets: false
      VersioningConfiguration:
        Status: Enabled
      WebsiteConfiguration:
        IndexDocument: index.html
        ErrorDocument: 404.html
      Tags:
        - Key: Environment
          Value: !Ref StageName

  StaticAssetsBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Condition: CreateStaticAssetsBucketCondition
    Properties:
      Bucket: !Ref StaticAssetsBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowPublicReadStaticAssets
            Effect: Allow
            Principal: "*"
            Action: s3:GetObject
            Resource: !Sub arn:aws:s3:::${StaticAssetsBucket}/*

  CloudFrontLogBucket:
    Type: AWS::S3::Bucket
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerPreferred
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
        - Key: Environment
          Value: !Ref StageName
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

  CloudFrontLogBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      Bucket: !Ref CloudFrontLogBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowCloudFrontLogDelivery
            Effect: Allow
            Principal:
              Service: delivery.logs.amazonaws.com
            Action:
              - s3:PutObject
            Resource: !Sub '${CloudFrontLogBucket.Arn}/${AWS::StackName}/${StageName}/*'
            Condition:
              StringEquals:
                s3:x-amz-acl: bucket-owner-full-control
                aws:SourceAccount: !Ref AWS::AccountId
          - Sid: AllowCloudFrontLogAclCheck
            Effect: Allow
            Principal:
              Service: delivery.logs.amazonaws.com
            Action:
              - s3:GetBucketAcl
            Resource: !GetAtt CloudFrontLogBucket.Arn

  ResumeForgeWebAcl:
    Condition: CreateDefaultWebAcl
    Type: AWS::WAFv2::WebACL
    Properties:
      Name: !Sub 'ResumeForge-${AWS::StackName}-${StageName}'
      Description: Default rate-based Web ACL protecting the ResumeForge API Gateway stage.
      Scope: REGIONAL
      DefaultAction:
        Allow: {}
      VisibilityConfig:
        CloudWatchMetricsEnabled: true
        MetricName: !Sub 'resumeforge-${StageName}-waf'
        SampledRequestsEnabled: true
      Rules:
        - Name: RateLimitPerIp
          Priority: 1
          Statement:
            RateBasedStatement:
              AggregateKeyType: IP
              Limit: !Ref IpRateLimit
          Action:
            Block: {}
          VisibilityConfig:
            CloudWatchMetricsEnabled: true
            MetricName: !Sub 'resumeforge-${StageName}-rate-limit'
            SampledRequestsEnabled: true

  ResumeForgeApiDefaultWebAclAssociation:
    Condition: CreateDefaultWebAcl
    Type: AWS::WAFv2::WebACLAssociation
    Properties:
      ResourceArn: !Sub 'arn:aws:apigateway:${AWS::Region}::/restapis/${ResumeForgeApi}/stages/${StageName}'
      WebACLArn: !GetAtt ResumeForgeWebAcl.Arn

  ResumeForgeApiProvidedWebAclAssociation:
    Condition: UseProvidedWebAcl
    Type: AWS::WAFv2::WebACLAssociation
    Properties:
      ResourceArn: !Sub 'arn:aws:apigateway:${AWS::Region}::/restapis/${ResumeForgeApi}/stages/${StageName}'
      WebACLArn: !Ref WebAclArn

  ResumeForgeTable:
    Type: AWS::DynamoDB::Table
    Condition: CreateResumeTableCondition
    Properties:
      TableName: !Ref ResumeTableName
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: linkedinProfileUrl
          AttributeType: S
      KeySchema:
        - AttributeName: linkedinProfileUrl
          KeyType: HASH
      Tags:
        - Key: Environment
          Value: !Ref StageName

  ResumeForgeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-resume-upload'
      CodeUri: .
      Handler: lambdas/resumeUpload.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ProcessResume:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/process-cv
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: resumeUpload
      Policies: &ResumeForgeFunctionPolicies
        - AWSLambdaBasicExecutionRole
        - Statement:
            - Sid: AllowBucketAccess
              Effect: Allow
              Action:
                - s3:GetObject
                - s3:PutObject
                - s3:PutObjectTagging
                - s3:DeleteObject
                - s3:ListBucket
              Resource:
                - !Sub arn:aws:s3:::${DataBucketName}
                - !Sub arn:aws:s3:::${DataBucketName}/*
            - Sid: AllowStaticAssetsBucketAccess
              Effect: Allow
              Action:
                - s3:GetObject
                - s3:ListBucket
              Resource:
                - !If
                  - CreateStaticAssetsBucketCondition
                  - !Sub arn:aws:s3:::${StaticAssetsBucket}
                  - !Sub arn:aws:s3:::${StaticAssetsBucketName}
                - !If
                  - CreateStaticAssetsBucketCondition
                  - !Sub arn:aws:s3:::${StaticAssetsBucket}/*
                  - !Sub arn:aws:s3:::${StaticAssetsBucketName}/*
        - DynamoDBCrudPolicy:
            TableName: !Ref ResumeTableName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  ClientAppFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-client-app'
      AutoPublishAlias: !Ref StageName
      CodeUri: .
      Handler: lambdas/clientApp.handler
      Runtime: nodejs20.x
      MemorySize: 512
      Timeout: 30

      Events:
        RootGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /
            Method: GET
        RootHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /
            Method: HEAD
        IndexHtmlGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /index.html
            Method: GET
        IndexHtmlHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /index.html
            Method: HEAD
        FaviconGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /favicon.ico
            Method: GET
        FaviconHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /favicon.ico
            Method: HEAD
        ManifestGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /manifest.webmanifest
            Method: GET
        ManifestHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /manifest.webmanifest
            Method: HEAD
        RobotsGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /robots.txt
            Method: GET
        RobotsHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /robots.txt
            Method: HEAD
        ServiceWorkerGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /service-worker.js
            Method: GET
        ServiceWorkerHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /service-worker.js
            Method: HEAD
        StaticManifestGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/static-manifest
            Method: GET
        StaticManifestHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/static-manifest
            Method: HEAD
        AssetsGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /assets/{proxy+}
            Method: GET
        AssetsHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /assets/{proxy+}
            Method: HEAD
        FontsGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /fonts/{proxy+}
            Method: GET
        FontsHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /fonts/{proxy+}
            Method: HEAD
        ImagesGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /images/{proxy+}
            Method: GET
        ImagesHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /images/{proxy+}
            Method: HEAD
        CoverTemplatesGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /cover-templates/{proxy+}
            Method: GET
        CoverTemplatesHead:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /cover-templates/{proxy+}
            Method: HEAD
        PublishedCloudfrontGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/published-cloudfront
            Method: GET
        PublishedCloudfrontJsonGet:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/published-cloudfront.json
            Method: GET
      Environment:
        Variables:
          ACTIVE_SERVICE: clientApp
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  JobEvaluationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-job-evaluation'
      CodeUri: .
      Handler: lambdas/jobEvaluation.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        EvaluateJobDescription:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/jd/evaluate
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: jobEvaluation
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  ScoringFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-scoring'
      CodeUri: .
      Handler: lambdas/scoring.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ScoreMatch:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/score-match
            Method: POST
        RescoreImprovement:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/rescore-improvement
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: scoring
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveSummaryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-summary'
      CodeUri: .
      Handler: lambdas/enhancementImproveSummary.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ImproveSummary:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-summary
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveSummary
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveSkillsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-skills'
      CodeUri: .
      Handler: lambdas/enhancementImproveSkills.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        AddMissingSkills:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/add-missing-skills
            Method: POST
        ImproveSkills:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-skills
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveSkills
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveDesignationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-designation'
      CodeUri: .
      Handler: lambdas/enhancementImproveDesignation.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ChangeDesignation:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/change-designation
            Method: POST
        ImproveDesignation:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-designation
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveDesignation
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveExperienceFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-experience'
      CodeUri: .
      Handler: lambdas/enhancementImproveExperience.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        AlignExperience:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/align-experience
            Method: POST
        ImproveExperience:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-experience
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveExperience
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveCertificationsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-certifications'
      CodeUri: .
      Handler: lambdas/enhancementImproveCertifications.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ImproveCertifications:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-certifications
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveCertifications
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveProjectsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-projects'
      CodeUri: .
      Handler: lambdas/enhancementImproveProjects.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ImproveProjects:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-projects
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveProjects
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveHighlightsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-highlights'
      CodeUri: .
      Handler: lambdas/enhancementImproveHighlights.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ImproveHighlights:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-highlights
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveHighlights
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveAtsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-ats'
      CodeUri: .
      Handler: lambdas/enhancementImproveAts.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        EnhanceAll:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/enhance-all
            Method: POST
        ImproveAts:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-ats
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveAts
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  EnhancementImproveAllFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-enhancement-improve-all'
      CodeUri: .
      Handler: lambdas/enhancementImproveAll.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ImproveAll:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/improve-all
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveAll
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  DocumentGenerationQueue:
    Type: AWS::SQS::Queue
    Properties:
      # Explicitly assign a FIFO-safe queue name. Without a QueueName, SQS
      # defaults to the logical resource id ("DocumentGenerationQueue"), which
      # is invalid for FIFO queues because it does not end with the required
      # ".fifo" suffix. Use the stack ID's GUID but truncate it to the first
      # two segments so the name always stays below the 80 character limit and
      # avoids the SQS "QueueDeletedRecently" throttle that happens when the
      # same queue name is recreated immediately after a rollback.
      QueueName: !Sub
        - '${StageName}-dg-${UniqueSuffix}.fifo'
        - UniqueSuffix: !Join
            - ''
            - - !Select
                  - 0
                  - !Split
                    - '-'
                    - !Select
                      - 2
                      - !Split
                        - '/'
                        - !Ref AWS::StackId
              - !Select
                  - 1
                  - !Split
                    - '-'
                    - !Select
                      - 2
                      - !Split
                        - '/'
                        - !Ref AWS::StackId
      FifoQueue: true
      ContentBasedDeduplication: true
      SqsManagedSseEnabled: true
      VisibilityTimeout: 900
      Tags:
        - Key: Environment
          Value: !Ref StageName

  DocumentGenerationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-document-generation'
      CodeUri: .
      Handler: lambdas/documentGeneration.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        GenerateEnhancedDocs:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/generate-enhanced-docs
            Method: POST
        RenderCoverLetter:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/render-cover-letter
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: documentGeneration
          DOCUMENT_GENERATION_QUEUE_URL: !GetAtt DocumentGenerationQueue.QueueUrl
          DOCUMENT_GENERATION_WORKER_FUNCTION_NAME: !Ref DocumentGenerationWorkerFunction
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  DocumentGenerationWorkerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-document-generation-worker'
      CodeUri: .
      Handler: lambdas/documentGenerationWorker.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      Events:
        DocumentGenerationQueueEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt DocumentGenerationQueue.Arn
            BatchSize: 1
      Environment:
        Variables:
          ACTIVE_SERVICE: documentGeneration
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  WorkflowScoreFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-workflow-score'
      CodeUri: .
      Handler: lambdas/workflowScore.handler
      Runtime: nodejs20.x
      MemorySize: 512
      Timeout: 60
      Policies:
        - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  WorkflowEnhancementSectionFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-workflow-enhancement-section'
      CodeUri: .
      Handler: lambdas/workflowEnhancementSection.handler
      Runtime: nodejs20.x
      MemorySize: 512
      Timeout: 60
      Policies:
        - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  WorkflowCombineFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-workflow-combine'
      CodeUri: .
      Handler: lambdas/workflowCombine.handler
      Runtime: nodejs20.x
      MemorySize: 512
      Timeout: 60
      Policies:
        - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  WorkflowGenerateFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-workflow-generate'
      CodeUri: .
      Handler: lambdas/workflowGeneratePdf.handler
      Runtime: nodejs20.x
      MemorySize: 1024
      Timeout: 120
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            Effect: Allow
            Action:
              - s3:PutObject
            Resource: !Sub arn:aws:s3:::${DataBucketName}/*
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          S3_BUCKET: !Ref DataBucketName
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  CloudFrontLogProcessorFunction:
    Type: AWS::Serverless::Function
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-cloudfront-log-processor'
      CodeUri: .
      Handler: lambdas/cloudfrontLogProcessor.handler
      Runtime: nodejs20.x
      MemorySize: 256
      Timeout: 120
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME: !Ref StageName
          DEPLOYMENT_ENVIRONMENT: !Ref StageName
      Policies:
        - AWSLambdaBasicExecutionRole
        - Statement:
            Effect: Allow
            Action:
              - s3:GetObject
            Resource: !Sub '${CloudFrontLogBucket.Arn}/${AWS::StackName}/${StageName}/*'
        - Statement:
            Effect: Allow
            Action:
              - cloudwatch:PutMetricData
            Resource: '*'
            Condition:
              StringEquals:
                cloudwatch:namespace: ResumeForge/CloudFront
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  CloudFrontLogDeliveryRule:
    Type: AWS::Events::Rule
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      Description: Trigger the CloudFront log processor when new access logs are delivered.
      EventPattern:
        source:
          - aws.s3
        detail-type:
          - Object Created
        detail:
          bucket:
            name:
              - !Ref CloudFrontLogBucket
      Name: !Sub '${AWS::StackName}-${StageName}-cloudfront-log-delivery'
      State: ENABLED
      Targets:
        - Arn: !GetAtt CloudFrontLogProcessorFunction.Arn
          Id: CloudFrontLogProcessor

  CloudFrontLogDeliveryInvokePermission:
    Type: AWS::Lambda::Permission
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref CloudFrontLogProcessorFunction
      Principal: events.amazonaws.com
      SourceArn: !GetAtt CloudFrontLogDeliveryRule.Arn

  DocumentGenerationSendPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: ResumeForgeDocumentGenerationSend
      Roles:
        - !Ref DocumentGenerationFunctionRole
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - sqs:SendMessage
            Resource: !GetAtt DocumentGenerationQueue.Arn
          - Effect: Allow
            Action:
              - lambda:InvokeFunction
              - lambda:InvokeAsync
            Resource:
              - !GetAtt DocumentGenerationWorkerFunction.Arn
              - !Sub '${DocumentGenerationWorkerFunction.Arn}:*'

  CloudFront404AlarmTopic:
    Type: AWS::SNS::Topic
    Condition: CreateCloudFrontAlarmTopicCondition
    Properties:
      DisplayName: !Sub 'ResumeForge ${StageName} CloudFront 404 Alerts'
      TopicName: !Sub '${AWS::StackName}-${StageName}-cloudfront-404'
      Tags:
        - Key: Environment
          Value: !Ref StageName

  CloudFrontRecurring404Alarm:
    Type: AWS::CloudWatch::Alarm
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      AlarmName: !Sub '${AWS::StackName}-${StageName}-cloudfront-recurring-404s'
      AlarmDescription: >-
        Alerts when CloudFront logs contain recurring 404 responses over two
        consecutive five-minute periods.
      Namespace: 'ResumeForge/CloudFront'
      MetricName: Recurring404Count
      Dimensions:
        - Name: DistributionId
          Value: !Ref ResumeForgeDistribution
        - Name: Stage
          Value: !Ref StageName
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 2
      DatapointsToAlarm: 2
      Threshold: !Ref CloudFront404Threshold
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions: !If
        - UseExistingCloudFrontAlarmTopic
        - - !Ref CloudFrontAlarmTopicArn
        - - !Ref CloudFront404AlarmTopic
      OKActions: !If
        - UseExistingCloudFrontAlarmTopic
        - - !Ref CloudFrontAlarmTopicArn
        - - !Ref CloudFront404AlarmTopic

  ResumeForgeWorkflowStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub '${AWS::StackName}-resume-flow'
      Definition:
        Comment: ResumeForge orchestration pipeline
        StartAt: ScoreResume
        States:
          ScoreResume:
            Type: Task
            Resource: !GetAtt WorkflowScoreFunction.Arn
            ResultPath: $.scoring
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.resumeText
              jobSkills.$: $.jobSkills
              jobDescription.$: $.jobDescription
            Next: FanOutEnhancements
          FanOutEnhancements:
            Type: Map
            ItemsPath: $.enhancementTypes
            MaxConcurrency: 7
            ResultPath: $.enhancementResults
            Parameters:
              type.$: $$.Map.Item.Value
              resumeText.$: $.resumeText
              jobDescription.$: $.jobDescription
              jobSkills.$: $.jobSkills
              missingSkills.$: $.scoring.missingSkills
              manualCertificates.$: $.manualCertificates
              targetTitle.$: $.targetTitle
            Iterator:
              StartAt: InvokeEnhancementSection
              States:
                InvokeEnhancementSection:
                  Type: Task
                  Resource: !GetAtt WorkflowEnhancementSectionFunction.Arn
                  End: true
            Next: CombineEnhancements
          CombineEnhancements:
            Type: Task
            Resource: !GetAtt WorkflowCombineFunction.Arn
            ResultPath: $.combined
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.resumeText
              sectionResults.$: $.enhancementResults
            Next: GenerateArtifacts
          GenerateArtifacts:
            Type: Task
            Resource: !GetAtt WorkflowGenerateFunction.Arn
            ResultPath: $.artifacts
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.combined.updatedResume
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref WorkflowScoreFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref WorkflowEnhancementSectionFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref WorkflowCombineFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref WorkflowGenerateFunction
        - S3WritePolicy:
            BucketName: !Ref DataBucketName
      Events:
        ResumeWorkflowEvent:
          Type: EventBridgeRule
          Properties:
            EventBusName: !Ref ResumeForgeOrchestrationBus
            InputPath: $.detail
            Pattern:
              source:
                - resumeForge.workflow
              detail-type:
                - ResumeFlowRequested

  AuditingFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub '${AWS::StackName}-${StageName}-auditing'
      CodeUri: .
      Handler: lambdas/auditing.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias: !Ref StageName
      ProvisionedConcurrencyConfig: !If
        - EnableProvisionedConcurrency
        -
          ProvisionedConcurrentExecutions: !Ref ProvisionedConcurrency
        - !Ref AWS::NoValue
      Events:
        ChangeLog:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/change-log
            Method: POST
        RefreshDownloadLink:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /api/refresh-download-link
            Method: POST

        Healthz:
          Type: Api
          Properties:
            RestApiId: !Ref ResumeForgeApi
            Path: /healthz
            Method: GET
      Environment:
        Variables:
          ACTIVE_SERVICE: auditing
      Policies: *ResumeForgeFunctionPolicies
      Layers:
        - !Sub arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment: !Ref StageName
    Metadata:
      BuildMethod: makefile

  ObservabilityDashboard:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardName: !Sub '${AWS::StackName}-${StageName}-observability'
      DashboardBody: !Sub |
        {
          "widgets": [
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Lambda Invocations by Alias",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Sum",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-resume-upload:${StageName}",
                    {
                      "label": "resume-upload"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-client-app:${StageName}",
                    {
                      "label": "client-app"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-job-evaluation:${StageName}",
                    {
                      "label": "job-evaluation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-scoring:${StageName}",
                    {
                      "label": "scoring"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-summary:${StageName}",
                    {
                      "label": "enhancement-improve-summary"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-skills:${StageName}",
                    {
                      "label": "enhancement-improve-skills"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-designation:${StageName}",
                    {
                      "label": "enhancement-improve-designation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-experience:${StageName}",
                    {
                      "label": "enhancement-improve-experience"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-certifications:${StageName}",
                    {
                      "label": "enhancement-improve-certifications"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-projects:${StageName}",
                    {
                      "label": "enhancement-improve-projects"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-highlights:${StageName}",
                    {
                      "label": "enhancement-improve-highlights"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-ats:${StageName}",
                    {
                      "label": "enhancement-improve-ats"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-all:${StageName}",
                    {
                      "label": "enhancement-improve-all"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation:${StageName}",
                    {
                      "label": "document-generation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation-worker:${StageName}",
                    {
                      "label": "document-generation-worker"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-score:${StageName}",
                    {
                      "label": "workflow-score"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}",
                    {
                      "label": "workflow-enhancement-section"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-combine:${StageName}",
                    {
                      "label": "workflow-combine"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-generate:${StageName}",
                    {
                      "label": "workflow-generate"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Invocations",
                    "Resource",
                    "${AWS::StackName}-${StageName}-auditing:${StageName}",
                    {
                      "label": "auditing"
                    }
                  ]
                ]
              }
            },
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Lambda Errors by Alias",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Sum",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-resume-upload:${StageName}",
                    {
                      "label": "resume-upload"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-client-app:${StageName}",
                    {
                      "label": "client-app"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-job-evaluation:${StageName}",
                    {
                      "label": "job-evaluation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-scoring:${StageName}",
                    {
                      "label": "scoring"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-summary:${StageName}",
                    {
                      "label": "enhancement-improve-summary"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-skills:${StageName}",
                    {
                      "label": "enhancement-improve-skills"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-designation:${StageName}",
                    {
                      "label": "enhancement-improve-designation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-experience:${StageName}",
                    {
                      "label": "enhancement-improve-experience"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-certifications:${StageName}",
                    {
                      "label": "enhancement-improve-certifications"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-projects:${StageName}",
                    {
                      "label": "enhancement-improve-projects"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-highlights:${StageName}",
                    {
                      "label": "enhancement-improve-highlights"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-ats:${StageName}",
                    {
                      "label": "enhancement-improve-ats"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-all:${StageName}",
                    {
                      "label": "enhancement-improve-all"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation:${StageName}",
                    {
                      "label": "document-generation"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation-worker:${StageName}",
                    {
                      "label": "document-generation-worker"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-score:${StageName}",
                    {
                      "label": "workflow-score"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}",
                    {
                      "label": "workflow-enhancement-section"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-combine:${StageName}",
                    {
                      "label": "workflow-combine"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-generate:${StageName}",
                    {
                      "label": "workflow-generate"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Errors",
                    "Resource",
                    "${AWS::StackName}-${StageName}-auditing:${StageName}",
                    {
                      "label": "auditing"
                    }
                  ]
                ]
              }
            },
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Lambda p95 Duration (ms)",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Average",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-resume-upload:${StageName}",
                    {
                      "label": "resume-upload",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-client-app:${StageName}",
                    {
                      "label": "client-app",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-job-evaluation:${StageName}",
                    {
                      "label": "job-evaluation",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-scoring:${StageName}",
                    {
                      "label": "scoring",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-summary:${StageName}",
                    {
                      "label": "enhancement-improve-summary",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-skills:${StageName}",
                    {
                      "label": "enhancement-improve-skills",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-designation:${StageName}",
                    {
                      "label": "enhancement-improve-designation",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-experience:${StageName}",
                    {
                      "label": "enhancement-improve-experience",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-certifications:${StageName}",
                    {
                      "label": "enhancement-improve-certifications",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-projects:${StageName}",
                    {
                      "label": "enhancement-improve-projects",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-highlights:${StageName}",
                    {
                      "label": "enhancement-improve-highlights",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-ats:${StageName}",
                    {
                      "label": "enhancement-improve-ats",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-enhancement-improve-all:${StageName}",
                    {
                      "label": "enhancement-improve-all",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation:${StageName}",
                    {
                      "label": "document-generation",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-document-generation-worker:${StageName}",
                    {
                      "label": "document-generation-worker",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-score:${StageName}",
                    {
                      "label": "workflow-score",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}",
                    {
                      "label": "workflow-enhancement-section",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-combine:${StageName}",
                    {
                      "label": "workflow-combine",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-workflow-generate:${StageName}",
                    {
                      "label": "workflow-generate",
                      "stat": "p95"
                    }
                  ],
                  [
                    "AWS/Lambda",
                    "Duration",
                    "Resource",
                    "${AWS::StackName}-${StageName}-auditing:${StageName}",
                    {
                      "label": "auditing",
                      "stat": "p95"
                    }
                  ]
                ]
              }
            },
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Cold Starts by Function",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Sum",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-resume-upload",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "resume-upload"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-client-app",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "client-app"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-job-evaluation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "job-evaluation"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-scoring",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "scoring"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-summary",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-summary"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-skills",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-skills"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-designation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-designation"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-experience",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-experience"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-certifications",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-certifications"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-projects",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-projects"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-highlights",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-highlights"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-ats",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-ats"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-enhancement-improve-all",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "enhancement-improve-all"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-document-generation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "document-generation"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-document-generation-worker",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "document-generation-worker"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-workflow-score",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "workflow-score"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-workflow-enhancement-section",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "workflow-enhancement-section"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-workflow-combine",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "workflow-combine"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-workflow-generate",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "workflow-generate"
                    }
                  ],
                  [
                    "ResumeForge/Operations",
                    "ColdStart",
                    "FunctionName",
                    "${AWS::StackName}-${StageName}-auditing",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "auditing"
                    }
                  ]
                ]
              }
            },
            {
              "type": "metric",
              "width": 24,
              "height": 6,
              "properties": {
                "title": "Artifact & API Outcomes",
                "region": "${AWS::Region}",
                "view": "timeSeries",
                "stat": "Sum",
                "period": 300,
                "stacked": false,
                "metrics": [
                  [
                    "ResumeForge/Artifacts",
                    "artifactgenerationFailure",
                    "Operation",
                    "artifact-generation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Generation Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "artifactgenerationSuccess",
                    "Operation",
                    "artifact-generation",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Generation Success"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "artifactdownloadFailure",
                    "Operation",
                    "artifact-download",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Download Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "artifactdownloadSuccess",
                    "Operation",
                    "artifact-download",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Download Success"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "enhancementFailure",
                    "Operation",
                    "enhancement",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Enhancement Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "enhancementSuccess",
                    "Operation",
                    "enhancement",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Enhancement Success"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "scoringFailure",
                    "Operation",
                    "scoring",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Scoring Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "scoringSuccess",
                    "Operation",
                    "scoring",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "Scoring Success"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "apiFailure",
                    "Operation",
                    "api",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "API Failures"
                    }
                  ],
                  [
                    "ResumeForge/Artifacts",
                    "apiSuccess",
                    "Operation",
                    "api",
                    "Stage",
                    "${StageName}",
                    {
                      "label": "API Success"
                    }
                  ]
                ]
              }
            }
          ]
        }

  ResumeForgeCachePolicy:
    Type: AWS::CloudFront::CachePolicy
    Properties:
      CachePolicyConfig:
        Comment: Disable caching; viewer context is forwarded via a dedicated origin request policy.
        DefaultTTL: 0
        MaxTTL: 0
        MinTTL: 0
        Name: !Sub ResumeForgeCachePolicy-${AWS::StackName}-${StageName}
        ParametersInCacheKeyAndForwardedToOrigin:
          CookiesConfig:
            CookieBehavior: none
          EnableAcceptEncodingBrotli: false
          EnableAcceptEncodingGzip: false
          HeadersConfig:
            HeaderBehavior: none
          QueryStringsConfig:
            QueryStringBehavior: none

  ResumeForgeDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Enabled: true
        Comment: API Gateway distribution for ResumeForge
        WebACLId: !If [UseProvidedWebAcl, !Ref WebAclArn, !Ref AWS::NoValue]
        Logging: !If
          - EnableCloudFrontMonitoringCondition
          - Bucket: !GetAtt CloudFrontLogBucket.DomainName
            Prefix: !Sub '${AWS::StackName}/${StageName}/'
            IncludeCookies: false
          - !Ref AWS::NoValue
        Origins:
          - Id: ResumeForgeApiOrigin
            DomainName: !Sub "${ResumeForgeApi}.execute-api.${AWS::Region}.amazonaws.com"
            OriginPath: !Sub "/${StageName}"
            CustomOriginConfig:
              OriginProtocolPolicy: https-only
        DefaultCacheBehavior:
          TargetOriginId: ResumeForgeApiOrigin
          ViewerProtocolPolicy: https-only
          AllowedMethods:
            - GET
            - HEAD
            - OPTIONS
            - PUT
            - PATCH
            - POST
            - DELETE
          CachedMethods:
            - GET
            - HEAD
            - OPTIONS
          Compress: true
          CachePolicyId: !GetAtt ResumeForgeCachePolicy.Id
          OriginRequestPolicyId: !Ref OriginRequestPolicyId
      Tags:
        - Key: Environment
          Value: !Ref StageName

Outputs:
  ApiBaseUrl:
    Description: Invoke URL for the API Gateway stage.
    Value: !Sub https://${ResumeForgeApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}
  AppBaseUrl:
    Description: Primary CloudFront URL for the ResumeForge front page and API access.
    Value: !Sub https://${ResumeForgeDistribution.DomainName}
  DataBucket:
    Description: Bucket used for uploads and generated files.
    Value: !If [CreateDataBucketCondition, !Ref DataBucket, !Ref DataBucketName]
  StaticAssetsBucket:
    Description: Bucket that stores the published ResumeForge client assets.
    Value: !If [CreateStaticAssetsBucketCondition, !Ref StaticAssetsBucket, !Ref StaticAssetsBucketName]
  ResumeTable:
    Description: DynamoDB table that stores resume processing metadata.
    Value: !If [CreateResumeTableCondition, !Ref ResumeForgeTable, !Ref ResumeTableName]
  CloudFrontUrl:
    Description: CloudFront distribution domain for accessing the API.
    Value: !Sub https://${ResumeForgeDistribution.DomainName}
  PrimaryRegion:
    Description: Primary AWS region configured for the deployment.
    Value: !Ref PrimaryRegion
  SecondaryRegion:
    Description: Secondary AWS region configured for the deployment.
    Value: !Ref SecondaryRegion
  CloudFrontLogBucketName:
    Condition: EnableCloudFrontMonitoringCondition
    Description: S3 bucket that stores CloudFront access logs.
    Value: !Ref CloudFrontLogBucket
  CloudFrontRecurring404AlarmName:
    Condition: EnableCloudFrontMonitoringCondition
    Description: CloudWatch alarm that tracks recurring CloudFront 404 responses.
    Value: !Ref CloudFrontRecurring404Alarm
  CloudFront404AlarmTopicArnOutput:
    Condition: EnableCloudFrontMonitoringCondition
    Description: SNS topic ARN that receives recurring CloudFront 404 alerts.
    Value: !If
      - UseExistingCloudFrontAlarmTopic
      - !Ref CloudFrontAlarmTopicArn
      - !Ref CloudFront404AlarmTopic
