.aws-sam/build/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Serverless deployment for ResumeForge on AWS Lambda and API Gateway.
Parameters:
  PrimaryRegion:
    Type: String
    Default: us-east-1
    Description: Primary AWS region for the deployment.
  StageName:
    Type: String
    Default: prod
    MaxLength: 30
    AllowedPattern: ^[A-Za-z0-9_-]+$
    ConstraintDescription: StageName may contain only letters, numbers, hyphens, and
      underscores and must be 30 characters or fewer.
    Description: Stage name for the API Gateway deployment.
  ApiThrottlingRateLimit:
    Type: Number
    Default: 100
    MinValue: 1
    Description: Steady-state requests per second allowed for the API stage.
  ApiThrottlingBurstLimit:
    Type: Number
    Default: 50
    MinValue: 1
    Description: Burst requests per second allowed for the API stage.
  IpRateLimit:
    Type: Number
    Default: 2000
    MinValue: 100
    Description: Five-minute request limit per IP enforced by the default WAF when
      no WebAclArn is provided.
  SecondaryRegion:
    Type: String
    Default: us-west-2
    Description: Secondary AWS region used for disaster recovery or failover.
  OriginRequestPolicyId:
    Type: String
    Default: b689b0a8-53d0-40ab-baf2-68738e2966ac
    Description: Identifier for the CloudFront origin request policy to use. Defaults
      to the AWS managed policy "Managed-AllViewerExceptHostHeader" which forwards
      all viewer headers except the Host header generated by CloudFront.
  WebAclArn:
    Type: String
    Default: ''
    Description: Optional ARN of an AWS WAFv2 web ACL to associate with the CloudFront
      distribution.
  DataBucketName:
    Type: String
    Default: resume-forge-data
    Description: Globally unique name for the S3 bucket that stores uploads and generated
      artifacts.
  CreateDataBucket:
    Type: String
    AllowedValues:
    - 'true'
    - 'false'
    Default: 'true'
    Description: Set to 'false' to use an existing S3 bucket specified in DataBucketName
      instead of creating a new one.
  StaticAssetsBucketName:
    Type: String
    Default: ''
    Description: Optional name of the S3 bucket that hosts the built ResumeForge client
      application. Provide a value when reusing an existing bucket.
  CreateStaticAssetsBucket:
    Type: String
    AllowedValues:
    - 'true'
    - 'false'
    Default: 'true'
    Description: Set to 'true' to provision and manage the static asset bucket within
      this stack. When set to 'false', the deployment expects StaticAssetsBucketName
      (or deployment automation) to supply the existing bucket name.
  ResumeTableName:
    Type: String
    Default: ResumeForge
    Description: Name of the DynamoDB table that tracks processed resumes.
  GeminiApiKey:
    Type: String
    NoEcho: true
    Default: ''
    Description: Gemini API key used by the Lambda function to generate enhanced resume
      content. Provide the value securely when deploying the stack (for example via
      encrypted GitHub repository secrets).
  ProvisionedConcurrency:
    Type: Number
    Default: 0
    MinValue: 0
    Description: Number of provisioned concurrent executions reserved for the Lambda
      alias. Set to 0 to disable provisioned concurrency.
  LambdaInsightsLayerVersion:
    Type: Number
    Default: 38
    Description: Version number for the Lambda Insights extension layer published
      by AWS (account 580247275435). Update this parameter when AWS releases a new
      Insights layer.
  CreateResumeTable:
    Type: String
    AllowedValues:
    - 'true'
    - 'false'
    Default: 'true'
    Description: Set to 'false' to use an existing DynamoDB table specified in ResumeTableName
      instead of creating a new one.
  EnableCloudFrontMonitoring:
    Type: String
    AllowedValues:
    - 'true'
    - 'false'
    Default: 'true'
    Description: Enable CloudFront access log delivery, metric publishing, and recurring
      404 alarms. Set to 'false' to skip provisioning monitoring resources.
  CloudFront404Threshold:
    Type: Number
    Default: 25
    MinValue: 1
    Description: Number of 404 responses within a five-minute window that should trigger
      the recurring CloudFront 404 alarm.
  CloudFrontAlarmTopicArn:
    Type: String
    Default: ''
    Description: Optional SNS topic ARN that should receive recurring CloudFront 404
      alarm notifications. Leave blank to provision a dedicated topic for the stack.
Conditions:
  CreateResumeTableCondition:
    Fn::Equals:
    - Ref: CreateResumeTable
    - 'true'
  CreateDataBucketCondition:
    Fn::Equals:
    - Ref: CreateDataBucket
    - 'true'
  CreateStaticAssetsBucketCondition:
    Fn::Equals:
    - Ref: CreateStaticAssetsBucket
    - 'true'
  HasStaticAssetsBucketName:
    Fn::Not:
    - Fn::Equals:
      - Ref: StaticAssetsBucketName
      - ''
  EnableProvisionedConcurrency:
    Fn::Not:
    - Fn::Equals:
      - Ref: ProvisionedConcurrency
      - 0
  UseProvidedWebAcl:
    Fn::Not:
    - Fn::Equals:
      - Ref: WebAclArn
      - ''
  CreateDefaultWebAcl:
    Fn::Not:
    - Condition: UseProvidedWebAcl
  IsProductionStage:
    Fn::Equals:
    - Ref: StageName
    - prod
  EnableCloudFrontMonitoringCondition:
    Fn::Equals:
    - Ref: EnableCloudFrontMonitoring
    - 'true'
  UseExistingCloudFrontAlarmTopic:
    Fn::And:
    - Condition: EnableCloudFrontMonitoringCondition
    - Fn::Not:
      - Fn::Equals:
        - Ref: CloudFrontAlarmTopicArn
        - ''
  CreateCloudFrontAlarmTopicCondition:
    Fn::And:
    - Condition: EnableCloudFrontMonitoringCondition
    - Fn::Equals:
      - Ref: CloudFrontAlarmTopicArn
      - ''
Rules:
  RequireGeminiConfiguration:
    Assertions:
    - Assert:
        Fn::Not:
        - Fn::Equals:
          - Ref: GeminiApiKey
          - ''
      AssertDescription: Provide GeminiApiKey so the Lambda function can access the
        Gemini API.
  RequireExternalBucketName:
    RuleCondition:
      Fn::Equals:
      - Ref: CreateDataBucket
      - 'false'
    Assertions:
    - Assert:
        Fn::Not:
        - Fn::Equals:
          - Ref: DataBucketName
          - ''
      AssertDescription: Provide DataBucketName when CreateDataBucket is false.
  RequireExternalTableName:
    RuleCondition:
      Fn::Equals:
      - Ref: CreateResumeTable
      - 'false'
    Assertions:
    - Assert:
        Fn::Not:
        - Fn::Equals:
          - Ref: ResumeTableName
          - ''
      AssertDescription: Provide ResumeTableName when CreateResumeTable is false.
  RequireStaticBucketName:
    RuleCondition:
      Fn::Equals:
      - Ref: CreateStaticAssetsBucket
      - 'false'
    Assertions:
    - Assert:
        Fn::Not:
        - Fn::Equals:
          - Ref: StaticAssetsBucketName
          - ''
      AssertDescription: Provide StaticAssetsBucketName when CreateStaticAssetsBucket
        is false.
Globals:
  Function:
    Environment:
      Variables:
        S3_BUCKET:
          Ref: DataBucketName
        RESUME_TABLE_NAME:
          Ref: ResumeTableName
        GEMINI_API_KEY:
          Ref: GeminiApiKey
        PRIMARY_REGION:
          Ref: PrimaryRegion
        SECONDARY_REGION:
          Ref: SecondaryRegion
        STAGE_NAME:
          Ref: StageName
        DEPLOYMENT_ENVIRONMENT:
          Ref: StageName
        ORCHESTRATION_BUS_NAME:
          Ref: ResumeForgeOrchestrationBus
        LOG_LEVEL:
          Fn::If:
          - IsProductionStage
          - info
          - debug
        ENABLE_DEBUG_LOGGING: 'false'
        STATIC_ASSETS_BUCKET:
          Fn::If:
          - CreateStaticAssetsBucketCondition
          - Ref: StaticAssetsBucket
          - Ref: StaticAssetsBucketName
        CLOUDFRONT_ORIGINS: '*'
Resources:
  ResumeForgeApi:
    Type: AWS::Serverless::Api
    Properties:
      StageName:
        Ref: StageName
      EndpointConfiguration: REGIONAL
      MethodSettings:
      - HttpMethod: '*'
        ResourcePath: /*
        ThrottlingBurstLimit:
          Ref: ApiThrottlingBurstLimit
        ThrottlingRateLimit:
          Ref: ApiThrottlingRateLimit
      BinaryMediaTypes:
      - multipart/form-data
      - application/pdf
      - application/octet-stream
      - font/*
      - font/woff2
      - application/font-woff2
      - image/*
      - '*/*'
      Cors:
        AllowMethods: '''OPTIONS,POST,GET'''
        AllowHeaders: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'''
        AllowOrigin: '''*'''
  ResumeForgeOrchestrationBus:
    Type: AWS::Events::EventBus
    Properties:
      Name:
        Fn::Sub: ${AWS::StackName}-${StageName}-resume-forge-orchestration
      Tags:
      - Key: Environment
        Value:
          Ref: StageName
  DataBucket:
    Type: AWS::S3::Bucket
    Condition: CreateDataBucketCondition
    Properties:
      BucketName:
        Ref: DataBucketName
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        IgnorePublicAcls: true
        BlockPublicPolicy: true
        RestrictPublicBuckets: true
      Tags:
      - Key: Environment
        Value:
          Ref: StageName
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
  DataBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket:
        Fn::If:
        - CreateDataBucketCondition
        - Ref: DataBucket
        - Ref: DataBucketName
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Sid: AllowLambdaBucketActions
          Effect: Allow
          Principal:
            AWS:
            - Fn::GetAtt:
              - ResumeForgeFunctionRole
              - Arn
            - Fn::GetAtt:
              - ClientAppFunctionRole
              - Arn
            - Fn::GetAtt:
              - JobEvaluationFunctionRole
              - Arn
            - Fn::GetAtt:
              - ScoringFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveSummaryFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveSkillsFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveDesignationFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveExperienceFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveCertificationsFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveProjectsFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveHighlightsFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveAtsFunctionRole
              - Arn
            - Fn::GetAtt:
              - DocumentGenerationFunctionRole
              - Arn
            - Fn::GetAtt:
              - AuditingFunctionRole
              - Arn
            - Fn::GetAtt:
              - WorkflowGenerateFunctionRole
              - Arn
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:DeleteObject
          Resource:
          - Fn::If:
            - CreateDataBucketCondition
            - Fn::Sub: arn:aws:s3:::${DataBucket}/*
            - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowLambdaListBucket
          Effect: Allow
          Principal:
            AWS:
            - Fn::GetAtt:
              - ResumeForgeFunctionRole
              - Arn
            - Fn::GetAtt:
              - ClientAppFunctionRole
              - Arn
            - Fn::GetAtt:
              - JobEvaluationFunctionRole
              - Arn
            - Fn::GetAtt:
              - ScoringFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveSummaryFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveSkillsFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveDesignationFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveExperienceFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveCertificationsFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveProjectsFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveHighlightsFunctionRole
              - Arn
            - Fn::GetAtt:
              - EnhancementImproveAtsFunctionRole
              - Arn
            - Fn::GetAtt:
              - DocumentGenerationFunctionRole
              - Arn
            - Fn::GetAtt:
              - AuditingFunctionRole
              - Arn
            - Fn::GetAtt:
              - WorkflowGenerateFunctionRole
              - Arn
          Action:
          - s3:ListBucket
          Resource:
            Fn::If:
            - CreateDataBucketCondition
            - Fn::Sub: arn:aws:s3:::${DataBucket}
            - Fn::Sub: arn:aws:s3:::${DataBucketName}
  StaticAssetsBucket:
    Type: AWS::S3::Bucket
    Condition: CreateStaticAssetsBucketCondition
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
    Properties:
      BucketName:
        Fn::If:
        - HasStaticAssetsBucketName
        - Ref: StaticAssetsBucketName
        - Ref: AWS::NoValue
      OwnershipControls:
        Rules:
        - ObjectOwnership: ObjectWriter
      PublicAccessBlockConfiguration:
        BlockPublicAcls: false
        BlockPublicPolicy: false
        IgnorePublicAcls: false
        RestrictPublicBuckets: false
      VersioningConfiguration:
        Status: Enabled
      WebsiteConfiguration:
        IndexDocument: index.html
        ErrorDocument: 404.html
      Tags:
      - Key: Environment
        Value:
          Ref: StageName
  StaticAssetsBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Condition: CreateStaticAssetsBucketCondition
    Properties:
      Bucket:
        Ref: StaticAssetsBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Sid: AllowPublicReadStaticAssets
          Effect: Allow
          Principal: '*'
          Action: s3:GetObject
          Resource:
            Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
  CloudFrontLogBucket:
    Type: AWS::S3::Bucket
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      OwnershipControls:
        Rules:
        - ObjectOwnership: BucketOwnerPreferred
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      Tags:
      - Key: Environment
        Value:
          Ref: StageName
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain
  CloudFrontLogBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      Bucket:
        Ref: CloudFrontLogBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Sid: AllowCloudFrontLogDelivery
          Effect: Allow
          Principal:
            Service: delivery.logs.amazonaws.com
          Action:
          - s3:PutObject
          Resource:
            Fn::Sub: ${CloudFrontLogBucket.Arn}/${AWS::StackName}/${StageName}/*
          Condition:
            StringEquals:
              s3:x-amz-acl: bucket-owner-full-control
              aws:SourceAccount:
                Ref: AWS::AccountId
        - Sid: AllowCloudFrontLogAclCheck
          Effect: Allow
          Principal:
            Service: delivery.logs.amazonaws.com
          Action:
          - s3:GetBucketAcl
          Resource:
            Fn::GetAtt:
            - CloudFrontLogBucket
            - Arn
  ResumeForgeWebAcl:
    Condition: CreateDefaultWebAcl
    Type: AWS::WAFv2::WebACL
    Properties:
      Name:
        Fn::Sub: ResumeForge-${AWS::StackName}-${StageName}
      Description: Default rate-based Web ACL protecting the ResumeForge API Gateway
        stage.
      Scope: REGIONAL
      DefaultAction:
        Allow: {}
      VisibilityConfig:
        CloudWatchMetricsEnabled: true
        MetricName:
          Fn::Sub: resumeforge-${StageName}-waf
        SampledRequestsEnabled: true
      Rules:
      - Name: RateLimitPerIp
        Priority: 1
        Statement:
          RateBasedStatement:
            AggregateKeyType: IP
            Limit:
              Ref: IpRateLimit
        Action:
          Block: {}
        VisibilityConfig:
          CloudWatchMetricsEnabled: true
          MetricName:
            Fn::Sub: resumeforge-${StageName}-rate-limit
          SampledRequestsEnabled: true
  ResumeForgeApiDefaultWebAclAssociation:
    Condition: CreateDefaultWebAcl
    Type: AWS::WAFv2::WebACLAssociation
    Properties:
      ResourceArn:
        Fn::Sub: arn:aws:apigateway:${AWS::Region}::/restapis/${ResumeForgeApi}/stages/${StageName}
      WebACLArn:
        Fn::GetAtt:
        - ResumeForgeWebAcl
        - Arn
  ResumeForgeApiProvidedWebAclAssociation:
    Condition: UseProvidedWebAcl
    Type: AWS::WAFv2::WebACLAssociation
    Properties:
      ResourceArn:
        Fn::Sub: arn:aws:apigateway:${AWS::Region}::/restapis/${ResumeForgeApi}/stages/${StageName}
      WebACLArn:
        Ref: WebAclArn
  ResumeForgeTable:
    Type: AWS::DynamoDB::Table
    Condition: CreateResumeTableCondition
    Properties:
      TableName:
        Ref: ResumeTableName
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
      - AttributeName: linkedinProfileUrl
        AttributeType: S
      KeySchema:
      - AttributeName: linkedinProfileUrl
        KeyType: HASH
      Tags:
      - Key: Environment
        Value:
          Ref: StageName
  ResumeForgeFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-resume-upload
      CodeUri: ResumeForgeFunction
      Handler: lambdas/resumeUpload.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ProcessResume:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/process-cv
            Method: POST
        JobStatus:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/job-status
            Method: GET
      Environment:
        Variables:
          ACTIVE_SERVICE: resumeUpload
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: ResumeForgeFunction
  ClientAppFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-client-app
      AutoPublishAlias:
        Ref: StageName
      CodeUri: ClientAppFunction
      Handler: lambdas/clientApp.handler
      Runtime: nodejs20.x
      MemorySize: 512
      Timeout: 30
      Events:
        RootGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /
            Method: GET
        RootHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /
            Method: HEAD
        IndexHtmlGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /index.html
            Method: GET
        IndexHtmlHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /index.html
            Method: HEAD
        FaviconGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /favicon.ico
            Method: GET
        FaviconHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /favicon.ico
            Method: HEAD
        ManifestGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /manifest.webmanifest
            Method: GET
        ManifestHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /manifest.webmanifest
            Method: HEAD
        RobotsGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /robots.txt
            Method: GET
        RobotsHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /robots.txt
            Method: HEAD
        ServiceWorkerGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /service-worker.js
            Method: GET
        ServiceWorkerHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /service-worker.js
            Method: HEAD
        StaticManifestGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/static-manifest
            Method: GET
        StaticManifestHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/static-manifest
            Method: HEAD
        AssetsGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /assets/{proxy+}
            Method: GET
        AssetsHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /assets/{proxy+}
            Method: HEAD
        FontsGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /fonts/{proxy+}
            Method: GET
        FontsHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /fonts/{proxy+}
            Method: HEAD
        ImagesGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /images/{proxy+}
            Method: GET
        ImagesHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /images/{proxy+}
            Method: HEAD
        CoverTemplatesGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /cover-templates/{proxy+}
            Method: GET
        CoverTemplatesHead:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /cover-templates/{proxy+}
            Method: HEAD
        PublishedCloudfrontGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/published-cloudfront
            Method: GET
        PublishedCloudfrontJsonGet:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/published-cloudfront.json
            Method: GET
      Environment:
        Variables:
          ACTIVE_SERVICE: clientApp
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: ClientAppFunction
  JobEvaluationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-job-evaluation
      CodeUri: JobEvaluationFunction
      Handler: lambdas/jobEvaluation.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        EvaluateJobDescription:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/jd/evaluate
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: jobEvaluation
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: JobEvaluationFunction
  ScoringFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-scoring
      CodeUri: ScoringFunction
      Handler: lambdas/scoring.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ScoreMatch:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/score-match
            Method: POST
        RescoreImprovement:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/rescore-improvement
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: scoring
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: ScoringFunction
  EnhancementImproveSummaryFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-summary
      CodeUri: EnhancementImproveSummaryFunction
      Handler: lambdas/enhancementImproveSummary.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ImproveSummary:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-summary
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveSummary
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveSummaryFunction
  EnhancementImproveSkillsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-skills
      CodeUri: EnhancementImproveSkillsFunction
      Handler: lambdas/enhancementImproveSkills.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        AddMissingSkills:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/add-missing-skills
            Method: POST
        ImproveSkills:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-skills
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveSkills
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveSkillsFunction
  EnhancementImproveDesignationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-designation
      CodeUri: EnhancementImproveDesignationFunction
      Handler: lambdas/enhancementImproveDesignation.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ChangeDesignation:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/change-designation
            Method: POST
        ImproveDesignation:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-designation
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveDesignation
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveDesignationFunction
  EnhancementImproveExperienceFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-experience
      CodeUri: EnhancementImproveExperienceFunction
      Handler: lambdas/enhancementImproveExperience.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        AlignExperience:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/align-experience
            Method: POST
        ImproveExperience:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-experience
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveExperience
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveExperienceFunction
  EnhancementImproveCertificationsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-certifications
      CodeUri: EnhancementImproveCertificationsFunction
      Handler: lambdas/enhancementImproveCertifications.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ImproveCertifications:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-certifications
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveCertifications
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveCertificationsFunction
  EnhancementImproveProjectsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-projects
      CodeUri: EnhancementImproveProjectsFunction
      Handler: lambdas/enhancementImproveProjects.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ImproveProjects:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-projects
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveProjects
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveProjectsFunction
  EnhancementImproveHighlightsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-highlights
      CodeUri: EnhancementImproveHighlightsFunction
      Handler: lambdas/enhancementImproveHighlights.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ImproveHighlights:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-highlights
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveHighlights
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveHighlightsFunction
  EnhancementImproveAtsFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-ats
      CodeUri: EnhancementImproveAtsFunction
      Handler: lambdas/enhancementImproveAts.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        EnhanceAll:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/enhance-all
            Method: POST
        ImproveAts:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-ats
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveAts
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveAtsFunction
  EnhancementImproveAllFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-enhancement-improve-all
      CodeUri: EnhancementImproveAllFunction
      Handler: lambdas/enhancementImproveAll.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ImproveAll:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/improve-all
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: enhancementImproveAll
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: EnhancementImproveAllFunction
  DocumentGenerationQueue:
    Type: AWS::SQS::Queue
    Properties:
      QueueName:
        Fn::Sub:
        - ${StageName}-dg-${UniqueSuffix}.fifo
        - UniqueSuffix:
            Fn::Join:
            - ''
            - - Fn::Select:
                - 0
                - Fn::Split:
                  - '-'
                  - Fn::Select:
                    - 2
                    - Fn::Split:
                      - /
                      - Ref: AWS::StackId
              - Fn::Select:
                - 1
                - Fn::Split:
                  - '-'
                  - Fn::Select:
                    - 2
                    - Fn::Split:
                      - /
                      - Ref: AWS::StackId
      FifoQueue: true
      ContentBasedDeduplication: true
      SqsManagedSseEnabled: true
      VisibilityTimeout: 900
      Tags:
      - Key: Environment
        Value:
          Ref: StageName
  DocumentGenerationFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-document-generation
      CodeUri: DocumentGenerationFunction
      Handler: lambdas/documentGeneration.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        GenerateEnhancedDocs:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/generate-enhanced-docs
            Method: POST
        RenderCoverLetter:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/render-cover-letter
            Method: POST
      Environment:
        Variables:
          ACTIVE_SERVICE: documentGeneration
          DOCUMENT_GENERATION_QUEUE_URL:
            Fn::GetAtt:
            - DocumentGenerationQueue
            - QueueUrl
          DOCUMENT_GENERATION_WORKER_FUNCTION_NAME:
            Ref: DocumentGenerationWorkerFunction
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: DocumentGenerationFunction
  DocumentGenerationWorkerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-document-generation-worker
      CodeUri: DocumentGenerationWorkerFunction
      Handler: lambdas/documentGenerationWorker.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      Events:
        DocumentGenerationQueueEvent:
          Type: SQS
          Properties:
            Queue:
              Fn::GetAtt:
              - DocumentGenerationQueue
              - Arn
            BatchSize: 1
      Environment:
        Variables:
          ACTIVE_SERVICE: documentGeneration
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: DocumentGenerationWorkerFunction
  WorkflowScoreFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-workflow-score
      CodeUri: WorkflowScoreFunction
      Handler: lambdas/workflowScore.handler
      Runtime: nodejs20.x
      MemorySize: 512
      Timeout: 60
      Policies:
      - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME:
            Ref: StageName
          DEPLOYMENT_ENVIRONMENT:
            Ref: StageName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: WorkflowScoreFunction
  WorkflowEnhancementSectionFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-workflow-enhancement-section
      CodeUri: WorkflowEnhancementSectionFunction
      Handler: lambdas/workflowEnhancementSection.handler
      Runtime: nodejs20.x
      MemorySize: 512
      Timeout: 60
      Policies:
      - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME:
            Ref: StageName
          DEPLOYMENT_ENVIRONMENT:
            Ref: StageName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: WorkflowEnhancementSectionFunction
  WorkflowCombineFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-workflow-combine
      CodeUri: WorkflowCombineFunction
      Handler: lambdas/workflowCombine.handler
      Runtime: nodejs20.x
      MemorySize: 512
      Timeout: 60
      Policies:
      - AWSLambdaBasicExecutionRole
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME:
            Ref: StageName
          DEPLOYMENT_ENVIRONMENT:
            Ref: StageName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: WorkflowCombineFunction
  WorkflowGenerateFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-workflow-generate
      CodeUri: WorkflowGenerateFunction
      Handler: lambdas/workflowGeneratePdf.handler
      Runtime: nodejs20.x
      MemorySize: 1024
      Timeout: 120
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
          Effect: Allow
          Action:
          - s3:PutObject
          Resource:
            Fn::Sub: arn:aws:s3:::${DataBucketName}/*
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          S3_BUCKET:
            Ref: DataBucketName
          STAGE_NAME:
            Ref: StageName
          DEPLOYMENT_ENVIRONMENT:
            Ref: StageName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: WorkflowGenerateFunction
  CloudFrontLogProcessorFunction:
    Type: AWS::Serverless::Function
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-cloudfront-log-processor
      CodeUri: CloudFrontLogProcessorFunction
      Handler: lambdas/cloudfrontLogProcessor.handler
      Runtime: nodejs20.x
      MemorySize: 256
      Timeout: 120
      Environment:
        Variables:
          AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
          STAGE_NAME:
            Ref: StageName
          DEPLOYMENT_ENVIRONMENT:
            Ref: StageName
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
          Effect: Allow
          Action:
          - s3:GetObject
          Resource:
            Fn::Sub: ${CloudFrontLogBucket.Arn}/${AWS::StackName}/${StageName}/*
      - Statement:
          Effect: Allow
          Action:
          - cloudwatch:PutMetricData
          Resource: '*'
          Condition:
            StringEquals:
              cloudwatch:namespace: ResumeForge/CloudFront
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: CloudFrontLogProcessorFunction
  CloudFrontLogDeliveryRule:
    Type: AWS::Events::Rule
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      Description: Trigger the CloudFront log processor when new access logs are delivered.
      EventPattern:
        source:
        - aws.s3
        detail-type:
        - Object Created
        detail:
          bucket:
            name:
            - Ref: CloudFrontLogBucket
      Name:
        Fn::Sub: ${AWS::StackName}-${StageName}-cloudfront-log-delivery
      State: ENABLED
      Targets:
      - Arn:
          Fn::GetAtt:
          - CloudFrontLogProcessorFunction
          - Arn
        Id: CloudFrontLogProcessor
  CloudFrontLogDeliveryInvokePermission:
    Type: AWS::Lambda::Permission
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      Action: lambda:InvokeFunction
      FunctionName:
        Ref: CloudFrontLogProcessorFunction
      Principal: events.amazonaws.com
      SourceArn:
        Fn::GetAtt:
        - CloudFrontLogDeliveryRule
        - Arn
  DocumentGenerationSendPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: ResumeForgeDocumentGenerationSend
      Roles:
      - Ref: DocumentGenerationFunctionRole
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
        - Effect: Allow
          Action:
          - sqs:SendMessage
          Resource:
            Fn::GetAtt:
            - DocumentGenerationQueue
            - Arn
        - Effect: Allow
          Action:
          - lambda:InvokeFunction
          - lambda:InvokeAsync
          Resource:
          - Fn::GetAtt:
            - DocumentGenerationWorkerFunction
            - Arn
          - Fn::Sub: ${DocumentGenerationWorkerFunction.Arn}:*
  CloudFront404AlarmTopic:
    Type: AWS::SNS::Topic
    Condition: CreateCloudFrontAlarmTopicCondition
    Properties:
      DisplayName:
        Fn::Sub: ResumeForge ${StageName} CloudFront 404 Alerts
      TopicName:
        Fn::Sub: ${AWS::StackName}-${StageName}-cloudfront-404
      Tags:
      - Key: Environment
        Value:
          Ref: StageName
  CloudFrontRecurring404Alarm:
    Type: AWS::CloudWatch::Alarm
    Condition: EnableCloudFrontMonitoringCondition
    Properties:
      AlarmName:
        Fn::Sub: ${AWS::StackName}-${StageName}-cloudfront-recurring-404s
      AlarmDescription: Alerts when CloudFront logs contain recurring 404 responses
        over two consecutive five-minute periods.
      Namespace: ResumeForge/CloudFront
      MetricName: Recurring404Count
      Dimensions:
      - Name: DistributionId
        Value:
          Ref: ResumeForgeDistribution
      - Name: Stage
        Value:
          Ref: StageName
      Statistic: Sum
      Period: 300
      EvaluationPeriods: 2
      DatapointsToAlarm: 2
      Threshold:
        Ref: CloudFront404Threshold
      ComparisonOperator: GreaterThanOrEqualToThreshold
      TreatMissingData: notBreaching
      AlarmActions:
        Fn::If:
        - UseExistingCloudFrontAlarmTopic
        - - Ref: CloudFrontAlarmTopicArn
        - - Ref: CloudFront404AlarmTopic
      OKActions:
        Fn::If:
        - UseExistingCloudFrontAlarmTopic
        - - Ref: CloudFrontAlarmTopicArn
        - - Ref: CloudFront404AlarmTopic
  ResumeForgeWorkflowStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name:
        Fn::Sub: ${AWS::StackName}-resume-flow
      Definition:
        Comment: ResumeForge orchestration pipeline
        StartAt: ScoreResume
        States:
          ScoreResume:
            Type: Task
            Resource:
              Fn::GetAtt:
              - WorkflowScoreFunction
              - Arn
            ResultPath: $.scoring
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.resumeText
              jobSkills.$: $.jobSkills
              jobDescription.$: $.jobDescription
            Next: FanOutEnhancements
          FanOutEnhancements:
            Type: Map
            ItemsPath: $.enhancementTypes
            MaxConcurrency: 7
            ResultPath: $.enhancementResults
            Parameters:
              type.$: $$.Map.Item.Value
              resumeText.$: $.resumeText
              jobDescription.$: $.jobDescription
              jobSkills.$: $.jobSkills
              missingSkills.$: $.scoring.missingSkills
              manualCertificates.$: $.manualCertificates
              targetTitle.$: $.targetTitle
            Iterator:
              StartAt: InvokeEnhancementSection
              States:
                InvokeEnhancementSection:
                  Type: Task
                  Resource:
                    Fn::GetAtt:
                    - WorkflowEnhancementSectionFunction
                    - Arn
                  End: true
            Next: CombineEnhancements
          CombineEnhancements:
            Type: Task
            Resource:
              Fn::GetAtt:
              - WorkflowCombineFunction
              - Arn
            ResultPath: $.combined
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.resumeText
              sectionResults.$: $.enhancementResults
            Next: GenerateArtifacts
          GenerateArtifacts:
            Type: Task
            Resource:
              Fn::GetAtt:
              - WorkflowGenerateFunction
              - Arn
            ResultPath: $.artifacts
            Parameters:
              jobId.$: $.jobId
              resumeText.$: $.combined.updatedResume
            End: true
      Policies:
      - LambdaInvokePolicy:
          FunctionName:
            Ref: WorkflowScoreFunction
      - LambdaInvokePolicy:
          FunctionName:
            Ref: WorkflowEnhancementSectionFunction
      - LambdaInvokePolicy:
          FunctionName:
            Ref: WorkflowCombineFunction
      - LambdaInvokePolicy:
          FunctionName:
            Ref: WorkflowGenerateFunction
      - S3WritePolicy:
          BucketName:
            Ref: DataBucketName
      Events:
        ResumeWorkflowEvent:
          Type: EventBridgeRule
          Properties:
            EventBusName:
              Ref: ResumeForgeOrchestrationBus
            InputPath: $.detail
            Pattern:
              source:
              - resumeForge.workflow
              detail-type:
              - ResumeFlowRequested
  AuditingFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName:
        Fn::Sub: ${AWS::StackName}-${StageName}-auditing
      CodeUri: AuditingFunction
      Handler: lambdas/auditing.handler
      Runtime: nodejs20.x
      MemorySize: 2048
      Timeout: 300
      AutoPublishAlias:
        Ref: StageName
      ProvisionedConcurrencyConfig:
        Fn::If:
        - EnableProvisionedConcurrency
        - ProvisionedConcurrentExecutions:
            Ref: ProvisionedConcurrency
        - Ref: AWS::NoValue
      Events:
        ChangeLog:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/change-log
            Method: POST
        RefreshDownloadLink:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /api/refresh-download-link
            Method: POST
        Healthz:
          Type: Api
          Properties:
            RestApiId:
              Ref: ResumeForgeApi
            Path: /healthz
            Method: GET
      Environment:
        Variables:
          ACTIVE_SERVICE: auditing
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: AllowBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:PutObject
          - s3:PutObjectTagging
          - s3:DeleteObject
          - s3:ListBucket
          Resource:
          - Fn::Sub: arn:aws:s3:::${DataBucketName}
          - Fn::Sub: arn:aws:s3:::${DataBucketName}/*
        - Sid: AllowStaticAssetsBucketAccess
          Effect: Allow
          Action:
          - s3:GetObject
          - s3:ListBucket
          Resource:
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}
          - Fn::If:
            - CreateStaticAssetsBucketCondition
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucket}/*
            - Fn::Sub: arn:aws:s3:::${StaticAssetsBucketName}/*
      - DynamoDBCrudPolicy:
          TableName:
            Ref: ResumeTableName
      Layers:
      - Fn::Sub: arn:aws:lambda:${AWS::Region}:580247275435:layer:LambdaInsightsExtension:${LambdaInsightsLayerVersion}
      Tags:
        Environment:
          Ref: StageName
    Metadata:
      BuildMethod: makefile
      SamResourceId: AuditingFunction
  ObservabilityDashboard:
    Type: AWS::CloudWatch::Dashboard
    Properties:
      DashboardName:
        Fn::Sub: ${AWS::StackName}-${StageName}-observability
      DashboardBody:
        Fn::Sub: "{\n  \"widgets\": [\n    {\n      \"type\": \"metric\",\n      \"\
          width\": 24,\n      \"height\": 6,\n      \"properties\": {\n        \"\
          title\": \"Lambda Invocations by Alias\",\n        \"region\": \"${AWS::Region}\"\
          ,\n        \"view\": \"timeSeries\",\n        \"stat\": \"Sum\",\n     \
          \   \"period\": 300,\n        \"stacked\": false,\n        \"metrics\":\
          \ [\n          [\n            \"AWS/Lambda\",\n            \"Invocations\"\
          ,\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-resume-upload:${StageName}\"\
          ,\n            {\n              \"label\": \"resume-upload\"\n         \
          \   }\n          ],\n          [\n            \"AWS/Lambda\",\n        \
          \    \"Invocations\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-client-app:${StageName}\"\
          ,\n            {\n              \"label\": \"client-app\"\n            }\n\
          \          ],\n          [\n            \"AWS/Lambda\",\n            \"\
          Invocations\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-job-evaluation:${StageName}\"\
          ,\n            {\n              \"label\": \"job-evaluation\"\n        \
          \    }\n          ],\n          [\n            \"AWS/Lambda\",\n       \
          \     \"Invocations\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-scoring:${StageName}\"\
          ,\n            {\n              \"label\": \"scoring\"\n            }\n\
          \          ],\n          [\n            \"AWS/Lambda\",\n            \"\
          Invocations\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-summary:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-summary\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-skills:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-skills\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-designation:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-designation\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-experience:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-experience\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-certifications:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-certifications\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-projects:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-projects\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-highlights:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-highlights\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-ats:${StageName}\",\n\
          \            {\n              \"label\": \"enhancement-improve-ats\"\n \
          \           }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-all:${StageName}\",\n\
          \            {\n              \"label\": \"enhancement-improve-all\"\n \
          \           }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-document-generation:${StageName}\",\n   \
          \         {\n              \"label\": \"document-generation\"\n        \
          \    }\n          ],\n          [\n            \"AWS/Lambda\",\n       \
          \     \"Invocations\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-document-generation-worker:${StageName}\"\
          ,\n            {\n              \"label\": \"document-generation-worker\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-workflow-score:${StageName}\",\n        \
          \    {\n              \"label\": \"workflow-score\"\n            }\n   \
          \       ],\n          [\n            \"AWS/Lambda\",\n            \"Invocations\"\
          ,\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-enhancement-section\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Invocations\",\n            \"Resource\",\n            \"\
          ${AWS::StackName}-${StageName}-workflow-combine:${StageName}\",\n      \
          \      {\n              \"label\": \"workflow-combine\"\n            }\n\
          \          ],\n          [\n            \"AWS/Lambda\",\n            \"\
          Invocations\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-generate:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-generate\"\n     \
          \       }\n          ],\n          [\n            \"AWS/Lambda\",\n    \
          \        \"Invocations\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-auditing:${StageName}\"\
          ,\n            {\n              \"label\": \"auditing\"\n            }\n\
          \          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"metric\"\
          ,\n      \"width\": 24,\n      \"height\": 6,\n      \"properties\": {\n\
          \        \"title\": \"Lambda Errors by Alias\",\n        \"region\": \"\
          ${AWS::Region}\",\n        \"view\": \"timeSeries\",\n        \"stat\":\
          \ \"Sum\",\n        \"period\": 300,\n        \"stacked\": false,\n    \
          \    \"metrics\": [\n          [\n            \"AWS/Lambda\",\n        \
          \    \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-resume-upload:${StageName}\"\
          ,\n            {\n              \"label\": \"resume-upload\"\n         \
          \   }\n          ],\n          [\n            \"AWS/Lambda\",\n        \
          \    \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-client-app:${StageName}\"\
          ,\n            {\n              \"label\": \"client-app\"\n            }\n\
          \          ],\n          [\n            \"AWS/Lambda\",\n            \"\
          Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-job-evaluation:${StageName}\"\
          ,\n            {\n              \"label\": \"job-evaluation\"\n        \
          \    }\n          ],\n          [\n            \"AWS/Lambda\",\n       \
          \     \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-scoring:${StageName}\"\
          ,\n            {\n              \"label\": \"scoring\"\n            }\n\
          \          ],\n          [\n            \"AWS/Lambda\",\n            \"\
          Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-summary:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-summary\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-skills:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-skills\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-designation:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-designation\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-experience:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-experience\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-certifications:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-certifications\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-projects:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-projects\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-highlights:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-highlights\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-ats:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-ats\"\n\
          \            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-all:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-all\"\n\
          \            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-document-generation:${StageName}\"\
          ,\n            {\n              \"label\": \"document-generation\"\n   \
          \         }\n          ],\n          [\n            \"AWS/Lambda\",\n  \
          \          \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-document-generation-worker:${StageName}\"\
          ,\n            {\n              \"label\": \"document-generation-worker\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-score:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-score\"\n        \
          \    }\n          ],\n          [\n            \"AWS/Lambda\",\n       \
          \     \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-enhancement-section\"\
          \n            }\n          ],\n          [\n            \"AWS/Lambda\",\n\
          \            \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-combine:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-combine\"\n      \
          \      }\n          ],\n          [\n            \"AWS/Lambda\",\n     \
          \       \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-generate:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-generate\"\n     \
          \       }\n          ],\n          [\n            \"AWS/Lambda\",\n    \
          \        \"Errors\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-auditing:${StageName}\"\
          ,\n            {\n              \"label\": \"auditing\"\n            }\n\
          \          ]\n        ]\n      }\n    },\n    {\n      \"type\": \"metric\"\
          ,\n      \"width\": 24,\n      \"height\": 6,\n      \"properties\": {\n\
          \        \"title\": \"Lambda p95 Duration (ms)\",\n        \"region\": \"\
          ${AWS::Region}\",\n        \"view\": \"timeSeries\",\n        \"stat\":\
          \ \"Average\",\n        \"period\": 300,\n        \"stacked\": false,\n\
          \        \"metrics\": [\n          [\n            \"AWS/Lambda\",\n    \
          \        \"Duration\",\n            \"Resource\",\n            \"${AWS::StackName}-${StageName}-resume-upload:${StageName}\"\
          ,\n            {\n              \"label\": \"resume-upload\",\n        \
          \      \"stat\": \"p95\"\n            }\n          ],\n          [\n   \
          \         \"AWS/Lambda\",\n            \"Duration\",\n            \"Resource\"\
          ,\n            \"${AWS::StackName}-${StageName}-client-app:${StageName}\"\
          ,\n            {\n              \"label\": \"client-app\",\n           \
          \   \"stat\": \"p95\"\n            }\n          ],\n          [\n      \
          \      \"AWS/Lambda\",\n            \"Duration\",\n            \"Resource\"\
          ,\n            \"${AWS::StackName}-${StageName}-job-evaluation:${StageName}\"\
          ,\n            {\n              \"label\": \"job-evaluation\",\n       \
          \       \"stat\": \"p95\"\n            }\n          ],\n          [\n  \
          \          \"AWS/Lambda\",\n            \"Duration\",\n            \"Resource\"\
          ,\n            \"${AWS::StackName}-${StageName}-scoring:${StageName}\",\n\
          \            {\n              \"label\": \"scoring\",\n              \"\
          stat\": \"p95\"\n            }\n          ],\n          [\n            \"\
          AWS/Lambda\",\n            \"Duration\",\n            \"Resource\",\n  \
          \          \"${AWS::StackName}-${StageName}-enhancement-improve-summary:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-summary\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-skills:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-skills\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-designation:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-designation\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-experience:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-experience\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-certifications:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-certifications\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-projects:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-projects\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-highlights:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-highlights\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-ats:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-ats\",\n\
          \              \"stat\": \"p95\"\n            }\n          ],\n        \
          \  [\n            \"AWS/Lambda\",\n            \"Duration\",\n         \
          \   \"Resource\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-all:${StageName}\"\
          ,\n            {\n              \"label\": \"enhancement-improve-all\",\n\
          \              \"stat\": \"p95\"\n            }\n          ],\n        \
          \  [\n            \"AWS/Lambda\",\n            \"Duration\",\n         \
          \   \"Resource\",\n            \"${AWS::StackName}-${StageName}-document-generation:${StageName}\"\
          ,\n            {\n              \"label\": \"document-generation\",\n  \
          \            \"stat\": \"p95\"\n            }\n          ],\n          [\n\
          \            \"AWS/Lambda\",\n            \"Duration\",\n            \"\
          Resource\",\n            \"${AWS::StackName}-${StageName}-document-generation-worker:${StageName}\"\
          ,\n            {\n              \"label\": \"document-generation-worker\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-score:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-score\",\n       \
          \       \"stat\": \"p95\"\n            }\n          ],\n          [\n  \
          \          \"AWS/Lambda\",\n            \"Duration\",\n            \"Resource\"\
          ,\n            \"${AWS::StackName}-${StageName}-workflow-enhancement-section:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-enhancement-section\"\
          ,\n              \"stat\": \"p95\"\n            }\n          ],\n      \
          \    [\n            \"AWS/Lambda\",\n            \"Duration\",\n       \
          \     \"Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-combine:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-combine\",\n     \
          \         \"stat\": \"p95\"\n            }\n          ],\n          [\n\
          \            \"AWS/Lambda\",\n            \"Duration\",\n            \"\
          Resource\",\n            \"${AWS::StackName}-${StageName}-workflow-generate:${StageName}\"\
          ,\n            {\n              \"label\": \"workflow-generate\",\n    \
          \          \"stat\": \"p95\"\n            }\n          ],\n          [\n\
          \            \"AWS/Lambda\",\n            \"Duration\",\n            \"\
          Resource\",\n            \"${AWS::StackName}-${StageName}-auditing:${StageName}\"\
          ,\n            {\n              \"label\": \"auditing\",\n             \
          \ \"stat\": \"p95\"\n            }\n          ]\n        ]\n      }\n  \
          \  },\n    {\n      \"type\": \"metric\",\n      \"width\": 24,\n      \"\
          height\": 6,\n      \"properties\": {\n        \"title\": \"Cold Starts\
          \ by Function\",\n        \"region\": \"${AWS::Region}\",\n        \"view\"\
          : \"timeSeries\",\n        \"stat\": \"Sum\",\n        \"period\": 300,\n\
          \        \"stacked\": false,\n        \"metrics\": [\n          [\n    \
          \        \"ResumeForge/Operations\",\n            \"ColdStart\",\n     \
          \       \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-resume-upload\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"resume-upload\"\n            }\n          ],\n\
          \          [\n            \"ResumeForge/Operations\",\n            \"ColdStart\"\
          ,\n            \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-client-app\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"client-app\"\n            }\n          ],\n\
          \          [\n            \"ResumeForge/Operations\",\n            \"ColdStart\"\
          ,\n            \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-job-evaluation\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"job-evaluation\"\n            }\n          ],\n\
          \          [\n            \"ResumeForge/Operations\",\n            \"ColdStart\"\
          ,\n            \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-scoring\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"scoring\"\n            }\n          ],\n   \
          \       [\n            \"ResumeForge/Operations\",\n            \"ColdStart\"\
          ,\n            \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-summary\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"enhancement-improve-summary\"\n            }\n\
          \          ],\n          [\n            \"ResumeForge/Operations\",\n  \
          \          \"ColdStart\",\n            \"FunctionName\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-skills\",\n         \
          \   \"Stage\",\n            \"${StageName}\",\n            {\n         \
          \     \"label\": \"enhancement-improve-skills\"\n            }\n       \
          \   ],\n          [\n            \"ResumeForge/Operations\",\n         \
          \   \"ColdStart\",\n            \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-designation\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"enhancement-improve-designation\"\n        \
          \    }\n          ],\n          [\n            \"ResumeForge/Operations\"\
          ,\n            \"ColdStart\",\n            \"FunctionName\",\n         \
          \   \"${AWS::StackName}-${StageName}-enhancement-improve-experience\",\n\
          \            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"enhancement-improve-experience\"\n         \
          \   }\n          ],\n          [\n            \"ResumeForge/Operations\"\
          ,\n            \"ColdStart\",\n            \"FunctionName\",\n         \
          \   \"${AWS::StackName}-${StageName}-enhancement-improve-certifications\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"enhancement-improve-certifications\"\n     \
          \       }\n          ],\n          [\n            \"ResumeForge/Operations\"\
          ,\n            \"ColdStart\",\n            \"FunctionName\",\n         \
          \   \"${AWS::StackName}-${StageName}-enhancement-improve-projects\",\n \
          \           \"Stage\",\n            \"${StageName}\",\n            {\n \
          \             \"label\": \"enhancement-improve-projects\"\n            }\n\
          \          ],\n          [\n            \"ResumeForge/Operations\",\n  \
          \          \"ColdStart\",\n            \"FunctionName\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-highlights\",\n     \
          \       \"Stage\",\n            \"${StageName}\",\n            {\n     \
          \         \"label\": \"enhancement-improve-highlights\"\n            }\n\
          \          ],\n          [\n            \"ResumeForge/Operations\",\n  \
          \          \"ColdStart\",\n            \"FunctionName\",\n            \"\
          ${AWS::StackName}-${StageName}-enhancement-improve-ats\",\n            \"\
          Stage\",\n            \"${StageName}\",\n            {\n              \"\
          label\": \"enhancement-improve-ats\"\n            }\n          ],\n    \
          \      [\n            \"ResumeForge/Operations\",\n            \"ColdStart\"\
          ,\n            \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-enhancement-improve-all\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"enhancement-improve-all\"\n            }\n \
          \         ],\n          [\n            \"ResumeForge/Operations\",\n   \
          \         \"ColdStart\",\n            \"FunctionName\",\n            \"\
          ${AWS::StackName}-${StageName}-document-generation\",\n            \"Stage\"\
          ,\n            \"${StageName}\",\n            {\n              \"label\"\
          : \"document-generation\"\n            }\n          ],\n          [\n  \
          \          \"ResumeForge/Operations\",\n            \"ColdStart\",\n   \
          \         \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-document-generation-worker\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"document-generation-worker\"\n            }\n\
          \          ],\n          [\n            \"ResumeForge/Operations\",\n  \
          \          \"ColdStart\",\n            \"FunctionName\",\n            \"\
          ${AWS::StackName}-${StageName}-workflow-score\",\n            \"Stage\"\
          ,\n            \"${StageName}\",\n            {\n              \"label\"\
          : \"workflow-score\"\n            }\n          ],\n          [\n       \
          \     \"ResumeForge/Operations\",\n            \"ColdStart\",\n        \
          \    \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-workflow-enhancement-section\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"workflow-enhancement-section\"\n           \
          \ }\n          ],\n          [\n            \"ResumeForge/Operations\",\n\
          \            \"ColdStart\",\n            \"FunctionName\",\n           \
          \ \"${AWS::StackName}-${StageName}-workflow-combine\",\n            \"Stage\"\
          ,\n            \"${StageName}\",\n            {\n              \"label\"\
          : \"workflow-combine\"\n            }\n          ],\n          [\n     \
          \       \"ResumeForge/Operations\",\n            \"ColdStart\",\n      \
          \      \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-workflow-generate\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"workflow-generate\"\n            }\n       \
          \   ],\n          [\n            \"ResumeForge/Operations\",\n         \
          \   \"ColdStart\",\n            \"FunctionName\",\n            \"${AWS::StackName}-${StageName}-auditing\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"auditing\"\n            }\n          ]\n   \
          \     ]\n      }\n    },\n    {\n      \"type\": \"metric\",\n      \"width\"\
          : 24,\n      \"height\": 6,\n      \"properties\": {\n        \"title\"\
          : \"Artifact & API Outcomes\",\n        \"region\": \"${AWS::Region}\",\n\
          \        \"view\": \"timeSeries\",\n        \"stat\": \"Sum\",\n       \
          \ \"period\": 300,\n        \"stacked\": false,\n        \"metrics\": [\n\
          \          [\n            \"ResumeForge/Artifacts\",\n            \"artifactgenerationFailure\"\
          ,\n            \"Operation\",\n            \"artifact-generation\",\n  \
          \          \"Stage\",\n            \"${StageName}\",\n            {\n  \
          \            \"label\": \"Generation Failures\"\n            }\n       \
          \   ],\n          [\n            \"ResumeForge/Artifacts\",\n          \
          \  \"artifactgenerationSuccess\",\n            \"Operation\",\n        \
          \    \"artifact-generation\",\n            \"Stage\",\n            \"${StageName}\"\
          ,\n            {\n              \"label\": \"Generation Success\"\n    \
          \        }\n          ],\n          [\n            \"ResumeForge/Artifacts\"\
          ,\n            \"artifactdownloadFailure\",\n            \"Operation\",\n\
          \            \"artifact-download\",\n            \"Stage\",\n          \
          \  \"${StageName}\",\n            {\n              \"label\": \"Download\
          \ Failures\"\n            }\n          ],\n          [\n            \"ResumeForge/Artifacts\"\
          ,\n            \"artifactdownloadSuccess\",\n            \"Operation\",\n\
          \            \"artifact-download\",\n            \"Stage\",\n          \
          \  \"${StageName}\",\n            {\n              \"label\": \"Download\
          \ Success\"\n            }\n          ],\n          [\n            \"ResumeForge/Artifacts\"\
          ,\n            \"enhancementFailure\",\n            \"Operation\",\n   \
          \         \"enhancement\",\n            \"Stage\",\n            \"${StageName}\"\
          ,\n            {\n              \"label\": \"Enhancement Failures\"\n  \
          \          }\n          ],\n          [\n            \"ResumeForge/Artifacts\"\
          ,\n            \"enhancementSuccess\",\n            \"Operation\",\n   \
          \         \"enhancement\",\n            \"Stage\",\n            \"${StageName}\"\
          ,\n            {\n              \"label\": \"Enhancement Success\"\n   \
          \         }\n          ],\n          [\n            \"ResumeForge/Artifacts\"\
          ,\n            \"scoringFailure\",\n            \"Operation\",\n       \
          \     \"scoring\",\n            \"Stage\",\n            \"${StageName}\"\
          ,\n            {\n              \"label\": \"Scoring Failures\"\n      \
          \      }\n          ],\n          [\n            \"ResumeForge/Artifacts\"\
          ,\n            \"scoringSuccess\",\n            \"Operation\",\n       \
          \     \"scoring\",\n            \"Stage\",\n            \"${StageName}\"\
          ,\n            {\n              \"label\": \"Scoring Success\"\n       \
          \     }\n          ],\n          [\n            \"ResumeForge/Artifacts\"\
          ,\n            \"apiFailure\",\n            \"Operation\",\n           \
          \ \"api\",\n            \"Stage\",\n            \"${StageName}\",\n    \
          \        {\n              \"label\": \"API Failures\"\n            }\n \
          \         ],\n          [\n            \"ResumeForge/Artifacts\",\n    \
          \        \"apiSuccess\",\n            \"Operation\",\n            \"api\"\
          ,\n            \"Stage\",\n            \"${StageName}\",\n            {\n\
          \              \"label\": \"API Success\"\n            }\n          ]\n\
          \        ]\n      }\n    }\n  ]\n}\n"
  ResumeForgeCachePolicy:
    Type: AWS::CloudFront::CachePolicy
    Properties:
      CachePolicyConfig:
        Comment: Disable caching; viewer context is forwarded via a dedicated origin
          request policy.
        DefaultTTL: 0
        MaxTTL: 0
        MinTTL: 0
        Name:
          Fn::Sub: ResumeForgeCachePolicy-${AWS::StackName}-${StageName}
        ParametersInCacheKeyAndForwardedToOrigin:
          CookiesConfig:
            CookieBehavior: none
          EnableAcceptEncodingBrotli: false
          EnableAcceptEncodingGzip: false
          HeadersConfig:
            HeaderBehavior: none
          QueryStringsConfig:
            QueryStringBehavior: none
  ResumeForgeDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Enabled: true
        Comment: API Gateway distribution for ResumeForge
        WebACLId:
          Fn::If:
          - UseProvidedWebAcl
          - Ref: WebAclArn
          - Ref: AWS::NoValue
        Logging:
          Fn::If:
          - EnableCloudFrontMonitoringCondition
          - Bucket:
              Fn::GetAtt:
              - CloudFrontLogBucket
              - DomainName
            Prefix:
              Fn::Sub: ${AWS::StackName}/${StageName}/
            IncludeCookies: false
          - Ref: AWS::NoValue
        Origins:
        - Id: ResumeForgeApiOrigin
          DomainName:
            Fn::Sub: ${ResumeForgeApi}.execute-api.${AWS::Region}.amazonaws.com
          OriginPath:
            Fn::Sub: /${StageName}
          CustomOriginConfig:
            OriginProtocolPolicy: https-only
        DefaultCacheBehavior:
          TargetOriginId: ResumeForgeApiOrigin
          ViewerProtocolPolicy: https-only
          AllowedMethods:
          - GET
          - HEAD
          - OPTIONS
          - PUT
          - PATCH
          - POST
          - DELETE
          CachedMethods:
          - GET
          - HEAD
          - OPTIONS
          Compress: true
          CachePolicyId:
            Fn::GetAtt:
            - ResumeForgeCachePolicy
            - Id
          OriginRequestPolicyId:
            Ref: OriginRequestPolicyId
      Tags:
      - Key: Environment
        Value:
          Ref: StageName
Outputs:
  ApiBaseUrl:
    Description: Invoke URL for the API Gateway stage.
    Value:
      Fn::Sub: https://${ResumeForgeApi}.execute-api.${AWS::Region}.amazonaws.com/${StageName}
  AppBaseUrl:
    Description: Primary CloudFront URL for the ResumeForge front page and API access.
    Value:
      Fn::Sub: https://${ResumeForgeDistribution.DomainName}
  DataBucket:
    Description: Bucket used for uploads and generated files.
    Value:
      Fn::If:
      - CreateDataBucketCondition
      - Ref: DataBucket
      - Ref: DataBucketName
  StaticAssetsBucket:
    Description: Bucket that stores the published ResumeForge client assets.
    Value:
      Fn::If:
      - CreateStaticAssetsBucketCondition
      - Ref: StaticAssetsBucket
      - Ref: StaticAssetsBucketName
  ResumeTable:
    Description: DynamoDB table that stores resume processing metadata.
    Value:
      Fn::If:
      - CreateResumeTableCondition
      - Ref: ResumeForgeTable
      - Ref: ResumeTableName
  CloudFrontUrl:
    Description: CloudFront distribution domain for accessing the API.
    Value:
      Fn::Sub: https://${ResumeForgeDistribution.DomainName}
  PrimaryRegion:
    Description: Primary AWS region configured for the deployment.
    Value:
      Ref: PrimaryRegion
  SecondaryRegion:
    Description: Secondary AWS region configured for the deployment.
    Value:
      Ref: SecondaryRegion
  CloudFrontLogBucketName:
    Condition: EnableCloudFrontMonitoringCondition
    Description: S3 bucket that stores CloudFront access logs.
    Value:
      Ref: CloudFrontLogBucket
  CloudFrontRecurring404AlarmName:
    Condition: EnableCloudFrontMonitoringCondition
    Description: CloudWatch alarm that tracks recurring CloudFront 404 responses.
    Value:
      Ref: CloudFrontRecurring404Alarm
  CloudFront404AlarmTopicArnOutput:
    Condition: EnableCloudFrontMonitoringCondition
    Description: SNS topic ARN that receives recurring CloudFront 404 alerts.
    Value:
      Fn::If:
      - UseExistingCloudFrontAlarmTopic
      - Ref: CloudFrontAlarmTopicArn
      - Ref: CloudFront404AlarmTopic
